
{% extends "layout.html" %}



{% block content %}

<div class="moj-sub-navigation">

  <div class="moj-sub-navigation__container">

    <div class="moj-sub-navigation__nav">

      <nav class="moj-sub-navigation" aria-label="sub navigation">

        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="../home">Account Home</a>
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/messages/messages.html">Messages<span id="notifications" class="moj-notification-badge">3</span></a> 
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/company-details/company-details.html">Company details</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/payments/payments.html">Payments</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="/employee-details/employee-details.html">Employee details</a>
          </li>
        </ul>

      </nav>

    </div>
  </div>

</div>


<table class="govuk-table" data-module="moj-sortable-table">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
  
        <th scope="col" class="govuk-table__header" aria-sort="ascending">Name</th>
  
        
  
      </tr>
    </thead>
  
    <tbody class="govuk-table__body">
  
      <tr class="govuk-table__row">
  
        <td class="govuk-table__cell">John Doe</td>
  
        
  
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1897"><a href="john-doe">View employee</a></td>
  
      </tr>
  
      <tr class="govuk-table__row">
  
        <td class="govuk-table__cell">Sarah Pascoe</td>
  
       
  
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1913"><a href="sarah-pascoe.html">View employee</a></td>
  
      </tr>
  
      <tr class="govuk-table__row">
  
        <td class="govuk-table__cell">James Thompson</td>
  
       
  
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1874"><a href="james-thompson.html">View employee</a></td>
  
      </tr>
  
      <tr class="govuk-table__row">
  
        <td class="govuk-table__cell">Santiago Nunez</td>
  
        
  
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1953"><a href="">View employee</a></td>
  
      </tr>
  
      <tr class="govuk-table__row">
  
        <td class="govuk-table__cell">Viktor Milton</td>
  
       
  
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1889"><a href="">View employee</a></td>
  
      </tr>
  
      <tr class="govuk-table__row">
  
        <td class="govuk-table__cell">Felix Wilheim</td>
  
        
  
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1962"><a href="">View employee</a></td>
  
      </tr>
  
      <tr class="govuk-table__row">
  
        <td class="govuk-table__cell">Yosef Vinson</td>
  
    
  
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1966"><a href="">View employee</a></td>
  
      </tr>
  
    </tbody>
  </table>
  
  
  

{% endblock %}
