{% extends "layout_cm.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">We're changing the way you sign in</h1>

        <p class="govuk-body">
          To use this service, you'll need to contact Jon Stones, the administrator for your organisation: "jon.stones@email.co.uk"
        </p>

        <p class="govuk-body">
          If you are unable to contact the administrator for your organisation, you can <a
            href="https://www.gov.uk/child-maintenance-for-employers/when-you-must-contact-the-child-maintenance-service">contact
            the employer payment team.</a>
        </p>

      </div>
    </div>
  </main>
</div>
{% endblock %}