{% extends "layout_cm.html" %}

{% block pageTitle %}
Invite email
{% endblock %}




{% block content %}

<div class="govuk-width-container">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <p>You have requested a new password.</p>

            <h2 class="govuk-heading-m">What you need to do now</h2>

            <p>Go to the <a href="create-password.html">Child Maintenance Employer portal</a> and create a password. </p>

        </div>
    </div>

</div>

{% endblock %}
{% block footer %}
{% endblock %}