{% extends "layout_cm.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Password reset requested
          </h1>
        </div>


        <p class="govuk-body">
          We've sent you a link to reset your password.
          <br>
          <br>
          If you do not receive an email <a href="https://www.gov.uk/child-maintenance-for-employers">contact the employer payment team.</a>
        </p>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <a href="invite-email.html" class="govuk-link">
          Continue the journey to the password reset email
        </a>

      </div>
    </div>
  </main>
</div>

{% endblock %}