{% extends "layout_cm.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Password reset succesful
          </h1>
        </div>

        <p class="govuk-body">
          Continue to the employer service
        </p>

        <a href="home.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Continue 
        </a>

      </div>
    </div>
  </main>
</div>

{% endblock %}