{% extends "layout_cm.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <form action="/form-handler" method="post" novalidate>

          <h1 class="govuk-heading-l">Reset link sent</h1>

          <p class="govuk-body">We have sent a password rest link to joebloggs@gmail.com.</p>

        </form>

        <ul class="govuk-list">
          <p>RESEARCH PURPOSE ONLY</p>
          <li><a href="create-password" class="govuk-link">Reset link</a></li>
        </ul>

      </div>
    </div>
  </main>
</div>
{% endblock %}