{% extends "layout_cm.html" %}

{% block pageTitle %}
Invite email
{% endblock %}




{% block content %}

<div class="govuk-width-container">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <p>You are now registered to use the Child Maintenance Employer portal.</p>

            <h2 class="govuk-heading-m">What you need to do now</h2>

            <p>Go to the <a href="https://cmg-employers-prototype.herokuapp.com/authv5/new-employer/log-in">Child Maintenance service</a <br> 
            and enter your email address and one-time passcode. 
            <br> 
            <br>
            Your one-time passcode is: <strong>123456</strong><h2></h2>

            <p>This passcode will be valid for 15 minutes.</p>



        </div>

    </div>

</div>

{% endblock %}
{% block footer %}
{% endblock %}