{% extends "layout_cm.html" %}

{% block content %}

<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="account-done.html" method="get">
          <h2 class="govuk-heading-l">Check your answers</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Full name
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{data['v5-add-user-first-name-2']}} {{data['v5-add-user-last-name-2']}}</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add-users-details-new.html">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email address
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{data['v5-add-user-email-2']}}</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add-users-details-new.html">
                  Change<span class="govuk-visually-hidden"> email</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Contact number
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{data['v5-add-user-contact-1-2']}}</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add-users-details-new.html">
                  Change<span class="govuk-visually-hidden"> contact number</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Extension number
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{data['v5-add-user-contact-3-2']}}</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add-users-details-new.html">
                  Change<span class="govuk-visually-hidden"> contact number</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What can you help with?
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{data['v5-user4-contact-reason']}}</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="contact-reason-new.html">
                  Change<span class="govuk-visually-hidden"> contact reason</span>
                </a>
              </dd>
            </div>
          </dl>

          <div class="govuk-form-group">
            <button class="govuk-button" data-module="govuk-button">
              Confirm and send
            </button>
          </div>
        </form>
        <a href="/authv5/existing-employer-old-user-single-contact/name.html">Cancel</a>
      </div>
    </div>
  </main>
</div>

{% endblock %}