
{% extends "layout_cm.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">We're changing the way you sign in</h1>


       <p class="govuk-body">
           To use this service, you'll need to contact the admin user for your organisation "joebloggs@gmail.com"
       </p>

       <p class="govuk-body">
       If you are unable to contact the admin user, you can <a href="https://www.gov.uk/child-maintenance-for-employers/change-of-circumstances-for-deos">contact us</a>.
    </p>

          
      
        </form>
       

      </div>
    </div>
  </main>
</div>
    {% endblock %}