
{% extends "layout.html" %}

{% block content %}
{% include "includes/account-menu.html" %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">

    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/home">Home</a>
    </li>

    <li class="govuk-breadcrumbs__list-item" aria-current="page">Messages</li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Messages and contact history</h1>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <a href="/messages/send-message" style="float: right" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
      Send a message
    </a>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">Letters and messages we have sent to you.</p>
  </div>
</div>

<section class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Filters</h2> 
    <p>
      <a href="/messages/message">Clear filter</a>
    </p>
    <h3 class="govuk-heading-s">Dates</h3>

    {{ govukDateInput({
      id: "date-from",
      namePrefix: "date-from",
      fieldset: {
        legend: {
          text: "From",
          isPageHeading: false
        }
      },
      hint: {
        text: "For example, 27 3 2007"
      }
    }) }}

    {{ govukDateInput({
      id: "date-to",
      namePrefix: "date-to",
      fieldset: {
        legend: {
          text: "To",
          isPageHeading: false
        }
      },
      hint: {
        text: "For example, 27 3 2008"
      }
    }) }}
    <p>
      <a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Apply filter
      </a>
    </p>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table">
      <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Subject</th>
            <th scope="col" class="govuk-table__header">Date issued</th>
          </tr>
        </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/messages/message">End a Deduction from Earnings Order</a></th>
          <td class="govuk-table__cell">17 September 2021</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/messages/message6">Deductions due September 2021 </a></th>
          <td class="govuk-table__cell">14 September 2021</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/messages/message5">Statement of payments received</a></th>
          <td class="govuk-table__cell">1 September 2021</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/messages/message">End a Deduction from Earnings Order</a></th>
          <td class="govuk-table__cell">17 August 2021</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/messages/message5">Statement of payments received</a></th>
          <td class="govuk-table__cell">14 August 2021</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/messages/message4">Employee information request</a></th>
          <td class="govuk-table__cell">1 August 2021</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/messages/message">End a Deduction from Earnings Order</a></th>
          <td class="govuk-table__cell">17 July 2021</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/messages/message2">Employee information request</a></th>
          <td class="govuk-table__cell">14 July 2021</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="/messages/message3">Deductions due July 2021</a></th>
          <td class="govuk-table__cell">1 July 2021</td>
        </tr>
      </tbody>
    </table>

    <div class="messages-pagination">
      <ul class="govuk-list">
        <li><a href="#" class="govuk-link"><< Previous</a></li>
        <li><a href="#" class="govuk-link">1</a></li>
        <li><a href="#" class="govuk-link">2</a></li>
        <li><a href="#" class="govuk-link">3</a></li>
        <li><a href="#" class="govuk-link">4</a></li>
        <li><a href="#" class="govuk-link">Next >></a></li>
      </ul>
    </div>
    
  </div>
</section>

{% endblock %}
