<header class="govuk-header dwp-header" data-module="govuk-header">
<div class=" govuk-width-container ">
<a href="#" class="govuk-header__link govuk-header__link--service-name dwp-header__container--service-name">
    Service name
</a>
</div>
</header>
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<div class="govuk-width-container">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
    </div>
</div>
</div>
</main>
<footer class="govuk-footer ">
<div class="govuk-width-container ">
<h2 class="govuk-visually-hidden">footer links</h2>
<ul class="govuk-footer__inline-list">
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="#1">Item 1</a>
    </li>
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="#2">Item 2</a>
    </li>
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="#3">Item 3</a>
    </li>
</ul>
</div>
</footer> 