{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <form action="cya.html" method="get">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Which level of user will they be?
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="v4-user-2-admin-user-2" name="v4-user-2-admin-user-2" type="radio" value="Admin">
                  <label class="govuk-label govuk-radios__label" for="v4-user-2-admin-user-2">
                    Admin
                  </label>
                  <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                    Admin users have access to the Child Maintenance portal and have the ability to edit, add and remove other users.
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="v4-user-2-admin-user-2-2" name="v4-user-2-admin-user-2" type="radio"
                    value="Standard">
                  <label class="govuk-label govuk-radios__label" for="v4-user-2-admin-user-2-2">
                    Standard
                  </label>
                  <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                    Standard users have the access to the Child Maintenance portal and the ability to edit their own details.
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="v4-user-2-admin-user-2-3" name="v4-user-2-admin-user-2" type="radio"
                    value="Contact only">
                  <label class="govuk-label govuk-radios__label" for="v4-user-2-admin-user-2-3">
                    Contact only
                  </label>
                  <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                    Contact only users have no access to the Child Maintenance portal.
                  </div>
                </div>
              </div>

            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </form>
        <a href="add-users.html">Cancel</a>
      </div>
    </div>
  </main>
</div>
{% endblock %}