{% extends "layout.html" %}



{% block content %}


<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>


  <div class="govuk-width-container">

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


          <form action="account-done.html" method="get">


            <h2 class="govuk-heading-l">Check your answers</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">



              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Full name
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">Jane Doe</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="add-users-details-main.html">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Email address
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">jane.doe@company.co.uk</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="add-users-details-main.html">
                    Change<span class="govuk-visually-hidden"> email</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Contact number
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">07741 777 444</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="add-users-details-main.html">
                    Change<span class="govuk-visually-hidden"> contact number</span>
                  </a>
                </dd>
              </div>

              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What is the reason for contact?
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">{{data['user-2-contact-reason']}}</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="contact-reason.html">
                    Change<span class="govuk-visually-hidden"> contact reason</span>
                  </a>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What type of user?
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">{{data['user-2-admin-main']}}</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="are-you-admin.html">
                    Change<span class="govuk-visually-hidden"> user type</span>
                  </a>
                </dd>
              </div>

            </dl>
            <div class="govuk-form-group">

            </div>

            <!-- <a href="add-users-details-2.html" role="button" draggable="false"
              class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Add another user
            </a> -->
            <div class="govuk-form-group">
              <button class="govuk-button" data-module="govuk-button">
                Confirm and send
              </button>
              <br>
              
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
</div>

{% endblock %}