{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">What is your email address?

        </h1>

        <p class="govuk-body">
          Your email address will be used to log in to the service.
        </p>
        <div class="govuk-form-group">
          <label class="govuk-label" for="email-main">
            Email address
          </label>
          <input class="govuk-input" id="email-main" name="email-main" type="text" spellcheck="false" autocomplete="name">
        </div>
        <form action="/form-handler" method="post" novalidate>

          <a href="telephone" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Continue
          </a>

        </form>



      </div>
    </div>
  </main>
</div>
{% endblock %}