//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


.messages-pagination {
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      margin-right: 15px;
      a {
        text-decoration: none;
      }
    }
  }
}

.message-summary {
  .govuk-summary-list__key {
    width: 75%;
    font-weight: normal;
  }
}

// child maintenance header

.uk {
  .cmg-logo {
    margin-right: 10px;
    display: inline-block;
    min-height: 46.5px;
    padding-left: 90px;
    background-position: 2% 0%;
    width: 85.33%;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 0;
  }
  .en {
    background-image: url('../../../public/images/cmg-logo-header-en.png');
  }
  .cy {
    background-image: url('../images/cmg-logo-header-cy.png');
  }
  .govuk-header {
    background: white;
    border-bottom-color: #1BB6B8;
  }
  .govuk-header__link:link,
  .govuk-header__link:visited {
    color: black;
  }
  .govuk-header__container {
    border-bottom: 5px solid #C1E4EC;
  }
}

// portal home page

.responsive {
  width: auto;
  height: auto;
}

// company details user levels

.user-level {
  position: relative;
   left: 10px;
  }

// test CSS

.button-link {
  color: #1d70b8;
  background-color: transparent;
  box-shadow: none;
  text-decoration: underline;
  margin-bottom: 0;
  padding: 0;
}
 
.button-link:hover {
  text-decoration: underline;
  background-color: transparent;
  color: #003078;
}
 
.button-link :visited {
  color: #4c2c92;
}
 
.button-link:active {
  color: #0b0c0c;
  background-color: #ffdd00;
  text-decoration: underline;
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
}
 
.no-top-active:active {
  top: 0;
}
 
.nowrap {
  white-space: nowrap;
}

// Language selector

.govuk-list-language-selector {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 0;
  list-style-type: none;
}

/// CMS header links

.header-links {
  padding-right: 15px;
  float: right;
  vertical-align: top;
  text-align: right;
  margin-bottom: 5px;
}

.language-links {
  margin-bottom: 1em;
}