{% extends "layout_cm.html" %}

{% block pageTitle %}
There is a problem
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
        <p class="govuk-body">We're unable to complete your registration.</p>
        <p class="govuk-body">
          Return to the <a class="govuk-link" href="enter-employer-details.html">start page</a>.
        </p>
      </div>
    </div>
  </main>
</div>


{% endblock %}