{% extends "layout_cm.html" %}



{% block content %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              We have received your request
            </h1>
            <div class="govuk-panel__body">
            </div>
          </div>

          <p class="govuk-body">We'll update your company details.

          </p>
          <a href="/manage-contactsv7/company-details-home.html" role="button" draggable="false" class="govuk-button"
            data-module="govuk-button">
            Return to company contacts
          </a>
        </div>
      </div>
    </main>
  </div>

  {% endblock %}