{% extends "layout_cm.html" %}

{% block content %}

<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="/form-handler">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="v7-user-1-payroll-provider-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                      Is this a general contact for 'the employer'/or [insert name of employer]?
                    </h1>
                  </legend>
                  <!-- <div id="v7-user-1-payroll-provider-hint" class="govuk-hint">
                    This could be a Payroll Provider company or Accountant who assumes all aspects of payroll on behalf of another business.
                  </div> -->
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="v7-general-contact" name="v7-general-contact" type="radio" value="Yes~manage-contactsv7/admin-manage-contacts/user_1/user-details-general-contact.html">
                      <label class="govuk-label govuk-radios__label" for="v7-general-contact">
                        Yes
                      </label>
                      <div id="v7-general-contact-hint" class="govuk-hint govuk-radios__hint">
                        This means it's a genral contact point with a shared contact number or email.
                      </div>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="v7-general-contact-2" name="v7-general-contact" type="radio" value="No~manage-contactsv7/admin-manage-contacts/user_1/add-a-contact.html">
                      <label class="govuk-label govuk-radios__label" for="v7-general-contact-2">
                        No
                      </label>
                      <div id="v7-general-contact-hint" class="govuk-hint govuk-radios__hint">
                        This means it's a person with their own contact number and email.
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>

              <div class="govuk-form-group">
                <button class="govuk-button" data-module="govuk-button">
                  Save and continue
                </button>
              </div>

        </form>   
        <!-- <a href="/authv7/existing-employer-old-user/change-details-user-1.html">Cancel</a> -->
      </div>
    </div>
  </main>
</div>

{% endblock %}