{% extends "layout_cm.html" %}

{% block pageTitle %}
Password reset complete
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Password reset complete
          </h1>
        </div>
       
        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
          You're now signed into your Child Maintenance Service employer account.
        </p>

        <a href="/reference_files/v1-auth/index-auth-3-v1.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Continue to your account
       </a>

      </div>
    </div>
  </main>
</div>

{% endblock %}