{% extends "layout_dwp_unbranded.html" %}

{% block content %}

<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="/form-handler">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="cwv3-user-1-payroll-provider-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Select an account type
                </h1>
              </legend>

              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="cwv3-general-contact" name="cwv3-general-contact" type="radio"
                    value="Individual~caseworkers_v3/siebel-screens/existing-contact-delete/change-user-x-details.html">
                  <label class="govuk-label govuk-radios__label" for="cwv3-general-contact">
                    Individual person
                  </label>
                  <div id="cwv3-general-contact-hint" class="govuk-hint govuk-radios__hint">
                    Someone with their own contact number and email.
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="cwv3-general-contact-2" name="cwv3-general-contact" type="radio"
                    value="Department~caseworkers_v3/siebel-screens/existing-contact-delete/user-details-general-contact-x.html">
                  <label class="govuk-label govuk-radios__label" for="cwv3-general-contact-2">
                    Department
                  </label>
                  <div id="cwv3-general-contact-hint" class="govuk-hint govuk-radios__hint">
                    A general contact for an area of the business.
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
          </div>

        </form>
        <!-- <a href="/authcwv3/existing-employer-old-user/change-details-user-1.html">Cancel</a> -->
      </div>
    </div>
  </main>
</div>

{% endblock %}