{% extends "layout.html" %}



{% block content %}

<div class="moj-sub-navigation">

  <div class="moj-sub-navigation__container">

    <div class="moj-sub-navigation__nav">

      <nav class="moj-sub-navigation" aria-label="sub navigation">

        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="../home">Account Home</a>
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/messages/messages.html">Messages<span id="notifications"
                class="moj-notification-badge">3</span></a>
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page"
              href="/v3company-details/company-details.html">Company details</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/payments/payments.html">Payments</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="v3/v3company-details/company-details.html">Employee details</a>
          </li>
        </ul>

      </nav>

    </div>
  </div>

</div>

<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <form action="cya-main-contact-alt-2.html" method="get">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Which level of user are they?
                </h1>
              </legend>
              
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="main-contact-alt" name="main-contact-alt" type="radio" value="Admin">
                  <label class="govuk-label govuk-radios__label" for="main-contact-alt">
                    Admin
                  </label>
                  <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                    Admin users have access to the Child Maintenance portal and have the ability to edit, add and remove other users.
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="main-contact-alt-2" name="main-contact-alt" type="radio"
                    value="Standard">
                  <label class="govuk-label govuk-radios__label" for="main-contact-alt-2">
                    Standard
                  </label>
                  <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                    Standard users have the access to the Child Maintenance portal and the ability to edit their own details.
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="main-contact-alt-3" name="main-contact-alt" type="radio"
                    value="Contact only">
                  <label class="govuk-label govuk-radios__label" for="main-contact-alt-3">
                    Contact only
                  </label>
                  <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                    Contact only users have no access to the Child Maintenance portal.
                  </div>
                </div>
              </div>

            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </form>
        <br><a href="user-view-alt-2.html">Cancel</a>
      </div>
    </div>
  </main>
</div>
{% endblock %}