{% extends "layout.html" %}

{% block content %}

<div class="moj-sub-navigation">

  <div class="moj-sub-navigation__container">

    <div class="moj-sub-navigation__nav">

      <nav class="moj-sub-navigation" aria-label="sub navigation">

        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="../home">Account Home</a>
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/messages/messages.html">Messages<span id="notifications"
                class="moj-notification-badge">3</span></a>
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page"
              href="/v3company-details/company-details.html">Company details</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/payments/payments.html">Payments</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="v3/v3company-details/company-details.html">Employee details</a>
          </li>
        </ul>

      </nav>

    </div>
  </div>

</div>

<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="#" method="post" novalidate>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Ben Raine</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="change-user-details-alt-3.html">Change
                  <span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">ben.raine@company.co.uk</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="change-user-details-alt-3.html">
                  Change<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Contact number
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">+66 741 282 751</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="change-user-details-alt-3.html">
                  Change<span class="govuk-visually-hidden"> mobile number</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What can they help with?
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Deductions</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="change-query-type-alt-3.html">
                  Change<span class="govuk-visually-hidden"> contact details</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                User level
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Contact only</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="main-contact-alt-3.html">
                  Change<span class="govuk-visually-hidden"> user status</span>
                </a>
              </dd>
            </div>
          </dl>
          <div><a href="confirmation-page-alt.html" role="button" draggable="false" class="govuk-button"
              data-module="govuk-button">
              Resend invite email
            </a></div>
            
            <a href="delete-contact-2.html" role="button" draggable="false" class="govuk-button govuk-button--warning"
              data-module="govuk-button">
              Remove Ben Raine
            </a>

        </form>
        <a href="test-manage-contacts-alt.html">Cancel</a>
      </div>
    </div>
  </main>
</div>

{% endblock %}