
{% extends "layout.html" %}



{% block content %}

<div class="moj-sub-navigation">

  <div class="moj-sub-navigation__container">

    <div class="moj-sub-navigation__nav">

      <nav class="moj-sub-navigation" aria-label="sub navigation">

        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="../home">Account Home</a>
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/messages/messages.html">Messages<span id="notifications" class="moj-notification-badge">3</span></a> 
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="/v3company-details/company-details.html">Company details</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/payments/payments.html">Payments</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="v3/v3company-details/company-details.html">Employee details</a>
          </li>
        </ul>

      </nav>

    </div>
  </div>

</div>

<div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  
    <div class="govuk-width-container">
      
        <main class="govuk-main-wrapper " id="main-content" role="main">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-l">What is your company's postal address?</h1>
              <h2 class="govuk-heading-m">We currently send post to:</h2>
              <div id="contact-hint" class="govuk-hint">
                
                {{ data['address-line-1'] | default("72")}}
                {{ data['where-do-you-live'] | default("Guild Street")}}<br>
                London<br>
                {{ data['address-postcode'] | default("SE23 6FH")}}<br>
              </div>
              <form action ="address-lookup-not-found.html" method="get">
      
               
                <div class="govuk-form-group">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="address-line-1">
                          Building name or number <span class="govuk-visually-hidden">line 1 of 2</span>
                        </label>
                        <input class="govuk-input" id="address-line-1" name="address-line-1" value="" type="text" autocomplete="address-line1"></div>
                    
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="address-postcode">
                              Postcode
                            </label>
                            <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" value="" type="text" autocomplete="postal-code"></div>
                        
                  </fieldset>
                </div>
      
                
                  <button class="govuk-button" data-module="govuk-button">
                    Find Address
                  </button>
      
              </form>
            
            <a href="manual-address">Enter address manually</a>
        </div>
          </div>
        </main>
      </div>
  </div>  

{% endblock %}
