{% extends "layout_dwp_unbranded.html" %}

{% block content %}

<div class="govuk-width-container">
  <!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="confirmation-page-update-details.html" method="get">

          <h2 class="govuk-heading-l">Check your answers</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ data['siebel-v3-first-name-new-user-change'] }} {{ data['siebel-v3-last-name-new-user-change'] }}</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="change-user-1-details.html">
                  Change<span class="govuk-visually-hidden"> contact details</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ data['siebel-v3-email-new-user-change'] }}</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="change-user-1-details.html">
                  Change<span class="govuk-visually-hidden"> email details</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Contact telephone number
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ data['siebel-v3-contact-1-new-user-change'] }}</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="change-user-1-details.html">
                  Change<span class="govuk-visually-hidden"> contact number #1 details</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Extension
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ data['siebel-v3-contact-2-new-user-change'] }}</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="change-user-1-details.html">
                  Change<span class="govuk-visually-hidden"> contact number #1 details</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Alternative telephone number
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ data['siebel-v3-contact-3-new-user-change'] }}</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="change-user-1-details.html">
                  Change<span class="govuk-visually-hidden"> contact number #1 details</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Are you a third party that manages the Payroll for this employer?
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ data['siebel-v3-new-user-change-payroll-provider'] }}</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="change-user-1-details.html">
                  Change<span class="govuk-visually-hidden"> are you a payroll provider</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What can we contact them about?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['siebel-v3-new-user-change-contact-reason'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="change-user-1-details.html">
                  Change<span class="govuk-visually-hidden"> reason for contact</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Can this person manage other peoples details for this employer?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['siebel-v3-new-user-change-admin-user'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="change-user-1-details.html">
                  Change<span class="govuk-visually-hidden"> user status</span>
                </a>
              </dd>
            </div>
          </dl>

          <div class="govuk-form-group">
            <button class="govuk-button" data-module="govuk-button">
              Confirm and save 
            </button>
          </div>

        </form>
        <a href="employer-details.html">Cancel</a>
      </div>
    </div>
  </main>
</div>

{% endblock %}