
{% extends "layout.html" %}



{% block content %}

<div class="moj-sub-navigation">

  <div class="moj-sub-navigation__container">

    <div class="moj-sub-navigation__nav">

      <nav class="moj-sub-navigation" aria-label="sub navigation">

        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="../home">Account Home</a>
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/messages/messages.html">Messages<span id="notifications" class="moj-notification-badge">3</span></a> 
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="/v3company-details/company-details.html">Company details</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/payments/payments.html">Payments</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="v3/v3company-details/company-details.html">Employee details</a>
          </li>
        </ul>

      </nav>

    </div>
  </div>

</div>

<div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  
    <div class="govuk-width-container">
      
        <main class="govuk-main-wrapper " id="main-content" role="main">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-l">Change {{ data['contact-name2'] }}'s contact email address</h1>
      
              <form action ="confirmation-page.html" method="get">

                <div class="govuk-form-group">
                    <label class="govuk-label" for="email">
                      Email address
                    </label>
                    <div id="email-hint" class="govuk-hint">
                      We’ll use this to send you notications about your account
                    </div>
                    <input class="govuk-input" id="email" name="contact-email" value="" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
                  </div>


                  
                  <button class="govuk-button" data-module="govuk-button">
                    Continue
                  </button>
              </form>
            </div>
          </div>
        </main>
      </div>
  </div>  

{% endblock %}
