{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">DEO History notes</caption>
          <!-- <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Details</th>
                        <th scope="col" class="govuk-table__header"></th>
                      </tr>
                    </thead> -->
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-third">Staff member</th>
              <td class="govuk-table__cell">Mark Grubb</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-third">What did you do?</th>
              <td class="govuk-table__cell">Call to employer</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-third">Date</th>
              <td class="govuk-table__cell">1 August 2023</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header ">Notes</th>
              <td class="govuk-table__cell">Call made to AB Cars Ltd after a missing payment task had been raised.
                No one was available to help so a next action will be set.
              </td>
            </tr>
          </tbody>
        </table>



      </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-row -->


  </main>
</div> <!-- govuk-width-container -->
{% endblock %}