{% extends "layout_dwp_unbranded.html" %}

{% block content %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Account update complete
            </h1>
          </div>

          <p class="govuk-body">Employer account records have been updated</p>

          <a href="employer-details-updated-2.html" role="button" draggable="false" class="govuk-button"
            data-module="govuk-button">
            Return to employer account
          </a>
        </div>
      </div>
    </main>
  </div>

  {% endblock %}