{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <form action="check-admin.html" method="get">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  What type of user will you be?
                </h1>
              </legend>
              <div id="changed-name-hint" class="govuk-hint">
                As the admin user you'll be in charge of adding and removing users. </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="user-1-admin" name="user-1-admin" type="radio"
                    value="Admin~authv3/existing-employer-old-user/user_1/add-users">
                  <label class="govuk-label govuk-radios__label" for="user-1-admin">
                    Admin
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="user-1-admin-2" name="user-1-admin" type="radio"
                    value="Standard~authv3/existing-employer-old-user/user_1/main-user-details.html">
                  <label class="govuk-label govuk-radios__label" for="user-1-admin-2">
                    Standard
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="user-1-admin-3" name="user-1-admin" type="radio"
                    value="Contact only~authv3/existing-employer-old-user/user_1/main-user-details.html">
                  <label class="govuk-label govuk-radios__label" for="user-1-admin-3">
                    Contact only
                  </label>
                </div>
              </div>

            </fieldset>
          </div>
          <input type="submit" class="govuk-button" value="Save and continue" id="submit">
          <br>
          <a href="check-admin.html">Cancel</a>
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}