
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Create a password

        </h1>

                     <p class="govuk-body">Your password needs to be 10 or more characters and can be a mix of letters, numbers or symbols.

                    </p>

        <div class="govuk-form-group">
            <label class="govuk-label" for="password">
              Password
            </label>
            
            <input class="govuk-input" id="password" name="password" type="password" spellcheck="false" aria-describedby="password-hint">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="confirm-password">
              Confirm your password
            </label>
            
            <input class="govuk-input" id="confirm-password" name="confirm-password" type="password" spellcheck="false" aria-describedby="confirm-password-hint">
          </div>


        <form action="/form-handler" method="post" novalidate>

            <a href="are-you-admin.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
               Continue
                 </a>
          
      
        </form>
       


      </div>
    </div>
  </main>
</div>
    {% endblock %}