{% extends "layout_cm.html" %}

{% block content %}

<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <form action="#" method="get" novalidate>

          <h1 class="govuk-heading-l govuk-!-margin-bottom-6">View user details</h1>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                Melanie Cuthbertsone
              </dd>
              <dd class="govuk-summary-list__actions">
                <!-- <a class="govuk-link" href="change-user-details.html">Change
                  <span class="govuk-visually-hidden"> name</span>
                </a> -->
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email
              </dt>
              <dd class="govuk-summary-list__value">
                melanie.cuthbertsone@company.co.uk
              </dd>
              <dd class="govuk-summary-list__actions">
                <!-- <a class="govuk-link" href="change-user-details.html">
                  Change<span class="govuk-visually-hidden"> email address</span>
                </a> -->
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Contact telephone number
              </dt>
              <dd class="govuk-summary-list__value">
                01132324567
              </dd>
              <dd class="govuk-summary-list__actions">
                <!-- <a class="govuk-link" href="change-user-details.html">
                  Change<span class="govuk-visually-hidden"> contact details</span>
                </a> -->
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Extension number
              </dt>
              <dd class="govuk-summary-list__value">
                77865
              </dd>
              <dd class="govuk-summary-list__actions">
                <!-- <a class="govuk-link" href="change-user-details.html">
                  Change<span class="govuk-visually-hidden"> contact details</span>
                </a> -->
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Select if they are a third party payroll provider
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">No</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <!-- <a class="govuk-link" href="change-user-details.html">
                  Change<span class="govuk-visually-hidden"> are you a payroll provider</span>
                </a> -->
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Select what they can help with
              </dt>
              <dd class="govuk-summary-list__value">
                Sending Child Maintenance payments to DWP
              </dd>
              <dd class="govuk-summary-list__actions">
                <!-- <a class="govuk-link" href="change-user-details.html">
                  Change<span class="govuk-visually-hidden"> contact details</span>
                </a> -->
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Select if this person an administrator
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
              <!-- <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="change-user-details.html">
                  Change<span class="govuk-visually-hidden"> user status</span>
                </a> -->
              </dd>
            </div>
          </dl>

          <button class="govuk-button" data-module="govuk-button">
            Change details
          </button>
          
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}