{% extends "layout_cm.html" %}

{% block pageTitle %}
Sign in
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#login-email-3">Your account is locked. Try again in 10 minutes</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <form action="/form-handler" method="post" novalidate>
          <h1 class="govuk-heading-l">Sign into the Child Maintenance service</h1>

          <div class="govuk-form-group">
            <label class="govuk-label" for="login-email-2">Email address</label>
            <!-- <p id="login-email-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>Your email address or password is not recognsied
            </p> -->
            <input class="govuk-input" id="login-email-3" name="login-email-2" type="email" spellcheck="false"
              aria-describedby="login-email-hint" autocomplete="email">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="login-passcode-3">Password</label>
            <!-- <p id="login-email-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>Your email address or password is not recognised
            </p> -->
           <input class="govuk-input" id="login-passcode-3" name="login-passcode-3" type="text" spellcheck="false"
              aria-describedby="login-passcode-hint" autocomplete="text">
          </div>

          <a href="account-locked-password.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Sign in
          </a>

        </form>

        <h2 class="govuk-heading-m">Problems signing in</h2>
        <ul class="govuk-list">
          <li><a href="reset-password" class="govuk-link">I have forgotten my password</a></li>
          <!-- <li><a href="reset-email" class="govuk-link">I have forgotten my email address</a></li> -->
          
        </ul>

      </div>
    </div>
  </main>

  {% endblock %}