{% extends "layout_dwp_unbranded.html" %}

{% block content %}

<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="cya.html" method="get">
          <h1 class="govuk-heading-l">
            This account is currently locked
          </h1>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="siebel-v4-account-status-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend">
                    Select an option
                  </legend>
                  
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="siebel-v4-account-status" name="siebel-v4-account-status" type="radio" value="Make the contact an active user">
                      <label class="govuk-label govuk-radios__label" for="siebel-v4-account-status">
                        Make the contact an active user
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="siebel-v4-account-status-2" name="siebel-v4-account-status" type="radio" value=" Make the contact an inactive user">
                      <label class="govuk-label govuk-radios__label" for="siebel-v4-account-status-2">
                        Make the contact an inactive user
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="siebel-v4-account-status-3" name="siebel-v4-account-status" type="radio" value="Unlock the contacts account">
                      <label class="govuk-label govuk-radios__label" for="siebel-v4-account-status-3">
                        Unlock the contacts account
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <div class="govuk-form-group">
                <button class="govuk-button" data-module="govuk-button">
                  Save and continue
                </button>
              </div>

        </form>   
        <a href="employer-details.html">Cancel</a>
      </div>
    </div>
  </main>
</div>

{% endblock %}