<div class="moj-sub-navigation">

    <div class="moj-sub-navigation__container">
  
      <div class="moj-sub-navigation__nav">
  
        <nav class="moj-sub-navigation" aria-label="sub navigation">
  
          <ul class="moj-sub-navigation__list">
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="/manage-contactsv6//home.html">Account Home</a>
            </li>  
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="/messages/messages.html">Messages<span id="notifications" class="moj-notification-badge">3</span></a> 
            </li>  
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" aria-current="page" href="/manage-contactsv6/company-details-home.html">Company details</a>
            </li>
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="/payments/payments.html">Payments</a>
            </li>
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="/manage-contactsv6/employee-details/employee-details.html">Employee details</a>
            </li>
          </ul>
  
        </nav>
  
      </div>
    </div>
  
  </div>