{% extends "layout_cm.html" %}

{% block pageTitle %}
Invite email
{% endblock %}




{% block content %}

<div class="govuk-width-container">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <p class="govuk-body">You are now registered to use the Child Maintenance Employer portal.</p>

            <h1 class="govuk-heading-m">What you need to do now</h1>

            <p class="govuk-body">Go to the <a href="log-in">Child Maintenance service</a> 
            and enter your email address and one-time passcode.</p>
            </br>
            <p class="govuk-body">Your one-time passcode is: <strong>123456</strong></p>
            </br>
            <p class="govuk-body">This passcode will be valid for 15 minutes.</p>

        </div>
    </div>
    
</div>

{% endblock %}
{% block footer %}
{% endblock %}