{% extends "layout.html" %}

{% block content %}

<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/form-handler" method="post" novalidate>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Who would you like to be temporary administrator?
                  </h1>
                </legend>

                <p class="govuk-body">In order to set up this account and any other users, we need a temporary administrator. This can be you or someone else you can nominate.</p>

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                     <div class="govuk-radios" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="u4-changed-name" name="u4-changed-name" type="radio"
                          value="yes~authv4/existing-employer-old-user/user_4/add-users.html">
                        <label class="govuk-label govuk-radios__label" for="u4-changed-name">
                          Yourself
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="changed-name-2" name="u4-changed-name" type="radio"
                          value="no~authv4/existing-employer-old-user/user_4/admin-name.html">
                        <label class="govuk-label govuk-radios__label" for="u4-changed-name-2">
                          Somone else
                        </label>
                      </div>
                    </div>
                </div>
              </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>

            </form>
          <a href="/authv4/existing-employer-old-user/name.html">Cancel</a>
        </div>
      </div>
    </main>
</div>

{% endblock %}