
{% extends "layout.html" %}



{% block content %}

<div class="moj-sub-navigation">

  <div class="moj-sub-navigation__container">

    <div class="moj-sub-navigation__nav">

      <nav class="moj-sub-navigation" aria-label="sub navigation">

        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="../home">Account Home</a>
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/messages/messages.html">Messages<span id="notifications" class="moj-notification-badge">3</span></a> 
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="/v3company-details/company-details.html">Company details</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/payments/payments.html">Payments</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="v3/v3company-details/company-details.html">Employee details</a>
          </li>
        </ul>

      </nav>

    </div>
  </div>

</div>

<div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  
    <div class="govuk-width-container">
      
        <main class="govuk-main-wrapper " id="main-content" role="main">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-l">What do you want to do with this number? </h1>
      
              <form action ="" method="get">
<div class="govuk-form-group">
                <div class="govuk-radios govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="query-type2" name="query-type2" type="radio" value="mobile~number-type.html">
                      <label class="govuk-label govuk-radios__label" for="query-type2">
                       Change the number
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="query-type2-2" name="query-type2" type="radio" value="landline~delete-number">
                      <label class="govuk-label govuk-radios__label" for="query-type2-2">
                    Remove the number
                      </label>
                    </div>
                  
              </div>
              
                  </div>

                  <button class="govuk-button" data-module="govuk-button">
                    Continue
                  </button>
                
                   
              </form>
            </div>
          </div>
        </main>
      </div>
  </div>  

{% endblock %}

