




{% extends "layout.html" %}



{% block content %}

<div class="moj-sub-navigation">

  <div class="moj-sub-navigation__container">

    <div class="moj-sub-navigation__nav">

      <nav class="moj-sub-navigation" aria-label="sub navigation">

        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="../home">Account Home</a>
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/messages/messages.html">Messages<span id="notifications" class="moj-notification-badge">3</span></a> 
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="/v3company-details/company-details.html">Company details</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/payments/payments.html">Payments</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="v3/v3company-details/company-details.html">Employee details</a>
          </li>
        </ul>

      </nav>

    </div>
  </div>

</div>
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
    <form action ="confirmation-page.html" method="get">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      
 <h1 class="govuk-heading-l">You have told us your email address is:

    <span class="govuk-caption-xl">
     
      {{data['contact-email']
        }}
    </span>
</h1>
</div>
</div>
<div class="govuk-form-group">

<h1 class="govuk-heading-m">
    Is this correct?</h1>

    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">

            <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="add-another-child-1-yes" name="add-another-child-1" type="radio" value="yes~confirmation-page">
                    <label class="govuk-label govuk-radios__label" for="add-another-child-1-yes">
                        Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="add-another-child-1-no" name="add-another-child-1" type="radio" value="no~change-email">
                    <label class="govuk-label govuk-radios__label" for="add-another-child-1-no">
                        No
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
</div>
     

  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>
  </form>
      </div>
      </div>
      </main>
{% endblock %}







