
{% extends "layout.html" %}



{% block content %}

<div class="moj-sub-navigation">

  <div class="moj-sub-navigation__container">

    <div class="moj-sub-navigation__nav">

      <nav class="moj-sub-navigation" aria-label="sub navigation">

        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="../home">Account Home</a>
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/messages/messages.html">Messages<span id="notifications" class="moj-notification-badge">3</span></a> 
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="/v3company-details/company-details.html">Company details</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/payments/payments.html">Payments</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="v3/v3company-details/company-details.html">Employee details</a>
          </li>
        </ul>

      </nav>

    </div>
  </div>

</div>
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<form action ="company-details2.html" method="get">

<h2 class="govuk-heading-l">Contact preferences</h2>
<div class="govuk-inset-text">Sometimes we'll need to contact you by post, this means you won't be completely paper free.</div>
<div class="govuk-summary-list__row">
   
    
        
     
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          
      
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How you receive letters         </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Online and by post</p>
           
      
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="change-letters.html">
              Change<span class="govuk-visually-hidden">change letters</span>
            </a>
          </dd>
        </div>
    
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">test@notreal.com</p>
             
        
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="change-email.html">
                Change<span class="govuk-visually-hidden">change email</span>
              </a>
            </dd>
          </div>
      </dl>
      
      <button class="govuk-button" data-module="govuk-button">
        Return to company details
      </button>
        </form>
        </div>
    </div>
    </main>
{% endblock %}
