{% extends "layout_dwp_unbranded_key_details.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="missed-payment-details.html" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">

                <h2 class="govuk-heading-s">Page navigation</h2>
                <button class="dwp-side-navigation__button" data-module="dwp-side-navigation"
                    data-target="dwp-side-navigation-panel" data-label-hide="Hide navigation"
                    data-label-show="Show navigation" aria-expanded="false">
                    <span class="dwp-side-navigation__section-toggle-focus">
                        <span class="dwp-side-navigation__chevron dwp-side-navigation__chevron--down"></span>
                        <span class="dwp-side-navigation__section-toggle-text">Show navigation</span>
                    </span>
                </button>
                <nav data-module="dwp-side-navigation-panel" class="dwp-side-navigation dwp-side-navigation--mobile"
                    aria-label="Side" role="navigation">
                    <ul class="dwp-side-navigation__list">
                        <li class="dwp-side-navigation__item">
                            <a id="s-item-1" href="deo1-details-new-payment-details.html" class="dwp-side-navigation__link">
                                Payment details
                            </a>
                        </li>
                        <li class="dwp-side-navigation__item">
                            <a id="s-item-2" href="#" class="dwp-side-navigation__link">
                                DEO activity
                            </a>
                        </li>
                        <li class="dwp-side-navigation__item">
                            <a id="s-item-3" href="deo1-details-new-payment-deo-activity-archive.html" class="dwp-side-navigation__link">
                                DEO activity archive
                            </a>
                        </li>
                        <li class="dwp-side-navigation__item">
                            <a id="s-item-4" href="deo1-details-new-employer-contacts.html" class="dwp-side-navigation__link">
                                Employer contacts
                            </a>
                        </li>
                        <li class="dwp-side-navigation__item">
                            <a id="s-item-5" href="view-tasks.html" class="dwp-side-navigation__link">
                                Go back to tasks list
                            </a>
                        </li>
                    </ul>
                </nav>
                <h2 class="govuk-heading-s">Select the next action</h2>
                <nav data-module="dwp-side-navigation-panel" class="dwp-side-navigation dwp-side-navigation--mobile"
                    aria-label="Side" role="navigation">
                    <ul class="dwp-side-navigation__list">
                        <li class="dwp-side-navigation__item">
                            <a id="s-item-1" href="employer-call1.html" class="dwp-side-navigation__link">
                                Make a call to the employer
                            </a>
                        </li>
                        <li class="dwp-side-navigation__item">
                            <a id="s-item-2" href="nad1.html" class="dwp-side-navigation__link">
                                Set a Next Action Due Date
                            </a>
                        </li>
                        <li class="dwp-side-navigation__item">
                            <a id="s-item-3" href="send-notification.html" class="dwp-side-navigation__link">
                                Send a letter
                            </a>
                        </li>
                        <li class="dwp-side-navigation__item">
                            <a id="s-item-4" href="close-task.html" class="dwp-side-navigation__link">
                                Close this task
                            </a>
                        </li>
                        
                    </ul>
                </nav>
            </div> <!-- govuk-grid-column-one-quarter -->
            <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-m">DEO activity</h2>
            <div class="dwp-timeline">
                <ol class="dwp-timeline__events">
                    <li class="dwp-timeline__events--entry">
                        <p class="govuk-caption-m govuk-!-margin-bottom-1">21 June 2024 - 11:10</p>
                        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Next action due date</h2>
                        <p class="govuk-caption-m govuk-!-margin-bottom-1">Follow up on 23 June 2024</p>
                        <p class="govuk-caption-m govuk-!-margin-bottom-1"><a href="deo1-notes7.html"
                          class="govuk-link">View
                          notes</a></p>
                    </li>
                    <li class="dwp-timeline__events--entry">
                        <p class="govuk-caption-m govuk-!-margin-bottom-1">21 June 2024 - 10:55</p>
                        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Call to employer</h2>                            
                        <p class="govuk-caption-m govuk-!-margin-bottom-1"><a href="deo1-notes6.html"
                                class="govuk-link">View notes</a></p>
                        </li>
                    <li class="dwp-timeline__events--entry">
                        <p class="govuk-caption-m govuk-!-margin-bottom-1">3 June 2024 - 09:00</p>
                        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Missed payment</h2>
                        <p class="govuk-caption-m govuk-!-margin-bottom-1">Payment from AB Cars Ltd</p>
                        <p class="govuk-caption-m govuk-!-margin-bottom-1">Payment amount: £0</p>

                    </li>
                    <li class="dwp-timeline__events--entry">
                        <p class="govuk-caption-m govuk-!-margin-bottom-1">1 June 2024</p>
                        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Next action due date</h2>
                        <p class="govuk-caption-m govuk-!-margin-bottom-1"><strong
                                class="govuk-tag govuk-tag--red">NADD-due</strong></p>
                        <p class="govuk-caption-m govuk-!-margin-bottom-1"><a href="deo1-notes5.html"
                                class="govuk-link">View notes</a></p>
                    </li>
                    <li class="dwp-timeline__events--entry">
                        <p class="govuk-caption-m govuk-!-margin-bottom-1">30 May 2024 - 13:05</p>
                        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Next action due date</h2>
                        <p class="govuk-caption-m govuk-!-margin-bottom-1">Follow up on 1 June 2024</p>
                        <p class="govuk-caption-m govuk-!-margin-bottom-1"><a href="deo1-notes5.html"
                                class="govuk-link">View notes</a></p>
                    </li>
                    <li class="dwp-timeline__events--entry">
                        <p class="govuk-caption-m govuk-!-margin-bottom-1">30 May 2024 - 11:00</p>
                        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Call to employer</h2>
                        <p class="govuk-caption-m govuk-!-margin-bottom-1"><a href="deo1-notes4.html"
                                class="govuk-link">View notes</a></p>
                    </li>
                    <li class="dwp-timeline__events--entry">
                        <p class="govuk-caption-m govuk-!-margin-bottom-1">30 May 2024</p>
                        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Next action due date</h2>
                        <p class="govuk-caption-m govuk-!-margin-bottom-1"><strong
                                class="govuk-tag govuk-tag--red">NADD-due</strong></p>
                        <p class="govuk-caption-m govuk-!-margin-bottom-1"><a href="deo1-notes3.html"
                                class="govuk-link">View notes</a></p>
                    </li>
                    <li class="dwp-timeline__events--entry">
                        <p class="govuk-caption-m govuk-!-margin-bottom-1">28 May 2024 - 10:30</p>
                        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Letter sent</h2>
                        <p class="govuk-caption-m govuk-!-margin-bottom-1">8205-Missed payment letter sent </p>
                    </li>
                    <li class="dwp-timeline__events--entry">
                        <p class="govuk-caption-m govuk-!-margin-bottom-1">28 May 2024 - 10:05</p>
                        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Next action due date</h2>
                        <p class="govuk-caption-m govuk-!-margin-bottom-1">Follow up on 30 May 2024</p>
                        <p class="govuk-caption-m govuk-!-margin-bottom-1"><a href="deo1-notes3.html"
                                class="govuk-link">View notes</a></p>
                    </li>
                    <li class="dwp-timeline__events--entry">
                        <p class="govuk-caption-m govuk-!-margin-bottom-1">28 May 2024 - 09:30</p>
                        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Call to employer</h2>
                        <p class="govuk-caption-m govuk-!-margin-bottom-1"><a href="deo1-notes2.html"
                                class="govuk-link">View
                                notes</a></p>
                    </li>
                </ol>
            </div>

        </div> <!-- govuk-grid-column-three-quarters -->

</div> <!-- govuk-grid-row -->


</main>
</div> <!-- govuk-width-container -->
{% endblock %}