{% extends "layout_dwp_unbranded_key_details.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="missed-payment-details.html" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-l">DEO information</h1>

                <div class="govuk-tabs" data-module="govuk-tabs">
                    <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item ">
                            <a class="govuk-tabs__tab" href="#past-day">
                                Payment details
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                            <a class="govuk-tabs__tab" href="#past-week">
                                DEO activity
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#past-month">
                                Employer contacts
                            </a>
                        </li>
                         <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#past-year">
                          Activity archive
                        </a>
                      </li>
                    </ul>
                    <div class="govuk-tabs__panel" id="past-day">
                        <div class="govuk-heading-m">DEO payments</div>
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    DEO Start date
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    31st March 2023
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    DEO payment amount
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    £100 per month
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Date last payment received
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    31st August 2023
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Amount received
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    £50
                                </dd>
                            </div>
                        </dl>
                        <div class="govuk-heading-m">RTI deductions</div>
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Payroll frequency
                                </dt>
                                <dd class="govuk-summary-list__value">
                                   Weekly - last working day of each week
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    NET earnings - PAYE
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    £400 per week
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Last CMS payment deducted
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    31st August 2023
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                Last amount deducted
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    £50
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Previous NET earnings - PAYE
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    £400
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Debt Management deductions
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    £0
                                </dd>
                            </div>
                        </dl>
                    </div>

                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
                        <div class="govuk-summary-card">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">Zoe Burns &nbsp; <strong class="govuk-tag app-task-list__tag
                                    ">Administrator</strong></h2>
                            </div>
                            <div class="govuk-summary-card__content">
                                <dl class="govuk-summary-list">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Date added
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            21 May 2024
                                        </dd>
                                        <dd class="govuk-summary-list__actions">

                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Email adress
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            <a href="mailto:zoe.burns@abcars.co.uk">zoe.burns@abcars.co.uk</a>
                                        </dd>
                                        <dd class="govuk-summary-list__actions">

                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Contact number
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            01132320987
                                        </dd>
                                        <dd class="govuk-summary-list__actions">

                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Extension number
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            1234
                                        </dd>
                                        <dd class="govuk-summary-list__actions">

                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Alternative number
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            07777777777
                                        </dd>
                                        <dd class="govuk-summary-list__actions">

                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Payroll provider
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            No
                                        </dd>
                                        <dd class="govuk-summary-list__actions">

                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            What they can help with
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            Employee details
                                        </dd>
                                        <dd class="govuk-summary-list__actions">

                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
                        <div class="govuk-summary-card">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">Jackie Smith &nbsp; <strong class="govuk-tag app-task-list__tag govuk-tag--green
                                    ">Standard</strong></h2>
                            </div>
                            <div class="govuk-summary-card__content">
                                <dl class="govuk-summary-list">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Date added
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            13 March 2024
                                        </dd>
                                        <dd class="govuk-summary-list__actions">

                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Email adress
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            <a href="mailto:jackie.smith@abcars.co.uk">jackie.smith@abcars.co.uk</a>
                                        </dd>
                                        <dd class="govuk-summary-list__actions">

                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Contact number
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            01132324567
                                        </dd>
                                        <dd class="govuk-summary-list__actions">

                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Extension number
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            5678
                                        </dd>
                                        <dd class="govuk-summary-list__actions">

                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Alternative number
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            07777777778
                                        </dd>
                                        <dd class="govuk-summary-list__actions">

                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Payroll provider
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            No
                                        </dd>
                                        <dd class="govuk-summary-list__actions">

                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            What they can help with
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            Payments
                                        </dd>
                                        <dd class="govuk-summary-list__actions">

                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </div>

                    </div>

                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">


                        <div class="dwp-timeline">
                            <!-- <h1 class="govuk-heading-m">DEO history</h1> -->
                            <ol class="dwp-timeline__events">
                              <li class="dwp-timeline__events--entry">
                                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Next action due date</h2>
                                <p class="govuk-caption-m govuk-!-margin-bottom-1">Follow up on 18 October 2023</p>
                                <p class="govuk-caption-m govuk-!-margin-bottom-1"><a href="deo1-notes7.html"
                                  class="govuk-link">View
                                  notes</a></p>
                                <p class="govuk-caption-m">2 October 2023</p>
                            </li>
                            <li class="dwp-timeline__events--entry">
                                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Call to employer</h2>
                                <p class="govuk-caption-m govuk-!-margin-bottom-1">Date of call 2 October 2023
                                </p>
                                <p class="govuk-caption-m govuk-!-margin-bottom-1"><a href="deo1-notes6.html"
                                        class="govuk-link">View
                                        notes</a></p>
                                <p class="govuk-caption-m">2 October 2023</p>
                            </li>
                         
                                <li class="dwp-timeline__events--entry">
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Missed payment</h2>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1">Payment from AB Cars Ltd</p>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1">Payment amount: £50</p>
                                    <p class="govuk-caption-m">30 September 2023</p>
                                </li>
                                <li class="dwp-timeline__events--entry">
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Next action due date</h2>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1">Follow up on 2 October 2023</p>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1"><a href="deo1-notes5.html"
                                            class="govuk-link">View
                                            notes</a></p>
                                    <p class="govuk-caption-m">30 September 2023</p>
                                </li>
                                <li class="dwp-timeline__events--entry">
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Call to employer</h2>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1">Date of call 30 September 2023</p>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1"><a href="deo1-notes4.html"
                                            class="govuk-link">View
                                            notes</a></p>
                                    <p class="govuk-caption-m">30 September 2023</p>
                                </li>
                                <li class="dwp-timeline__events--entry">
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Notification sent</h2>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1">8205-Missed payment letter sent
                                    </p>
                                    <p class="govuk-caption-m">30 September 2023</p>
                                </li>
                                <li class="dwp-timeline__events--entry">
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Next action due date</h2>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1">Follow up on 1 September 2023</p>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1"><a href="deo1-notes3.html"
                                            class="govuk-link">View
                                            notes</a></p>
                                    <p class="govuk-caption-m">31 August 2023</p>
                                </li>
                                <li class="dwp-timeline__events--entry">
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Call to employer</h2>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1">Date of call 1 August 2023</p>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1"><a href="deo1-notes2.html"
                                            class="govuk-link">View
                                            notes</a></p>
                                    <p class="govuk-caption-m">1 August 2023</p>
                                </li>
                                <li class="dwp-timeline__events--entry">
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Missed payment</h2>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1">No payment recevieved</p>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1">Payment amount: £0</p>
                                    <p class="govuk-caption-m">31 July 2023</p>
                                </li>
                                <li class="dwp-timeline__events--entry">
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Payment received</h2>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1">Payment from AB Cars Ltd</p>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1">Payment amount: £100</p>
                                    <p class="govuk-caption-m">30 June 2023</p>
                                </li>
                                <li class="dwp-timeline__events--entry">
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">DEO start</h2>
                                    <p class="govuk-caption-m">1 June 2023</p>
                                </li>
                                <li class="dwp-timeline__events--entry">
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Call to employer</h2>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1">Date of call 15 May 2023 </p>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1"><a href="deo1-notes1.html"
                                            class="govuk-link">View
                                            notes</a></p>
                                    <p class="govuk-caption-m">15 May 2023</p>
                                </li>
                                <li class="dwp-timeline__events--entry">
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">New DEO set up</h2>
                                    <p class="govuk-caption-m">1 May 2023</p>
                                </li>
                            </ol>
                        </div>

                    </div>

                    <div class="govuk-tabs__panel" id="past-year">
                        <h2 class="govuk-heading-m">DEO activity archive</h2>
                        <div class="dwp-timeline">
                            <ol class="dwp-timeline__events">
                                <li class="dwp-timeline__events--entry">
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Missed payment</h2>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1">Payment from AB Cars Ltd</p>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1">Payment amount: £50</p>
                                    <p class="govuk-caption-m">30 September 2023</p>
                                </li>
                                <li class="dwp-timeline__events--entry">
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Next action due date</h2>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1">Follow up on 2 October 2023</p>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1"><a href="deo1-notes5.html"
                                            class="govuk-link">View
                                            notes</a></p>
                                    <p class="govuk-caption-m">30 September 2023</p>
                                </li>
                                <li class="dwp-timeline__events--entry">
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Call to employer</h2>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1">Date of call 30 September 2023</p>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1"><a href="deo1-notes4.html"
                                            class="govuk-link">View
                                            notes</a></p>
                                    <p class="govuk-caption-m">30 September 2023</p>
                                </li>
                                <li class="dwp-timeline__events--entry">
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Notification sent</h2>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1">8205-Missed payment letter sent
                                    </p>
                                    <p class="govuk-caption-m">30 September 2023</p>
                                </li>
                                <li class="dwp-timeline__events--entry">
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Next action due date</h2>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1">Follow up on 1 September 2023</p>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1"><a href="deo1-notes3.html"
                                            class="govuk-link">View
                                            notes</a></p>
                                    <p class="govuk-caption-m">31 August 2023</p>
                                </li>
                                <li class="dwp-timeline__events--entry">
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Call to employer</h2>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1">Date of call 1 August 2023</p>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1"><a href="deo1-notes2.html"
                                            class="govuk-link">View
                                            notes</a></p>
                                    <p class="govuk-caption-m">1 August 2023</p>
                                </li>
                                <li class="dwp-timeline__events--entry">
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Missed payment</h2>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1">No payment recevieved</p>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1">Payment amount: £0</p>
                                    <p class="govuk-caption-m">31 July 2023</p>
                                </li>
                                <li class="dwp-timeline__events--entry">
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Payment received</h2>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1">Payment from AB Cars Ltd</p>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1">Payment amount: £100</p>
                                    <p class="govuk-caption-m">30 June 2023</p>
                                </li>
                                <li class="dwp-timeline__events--entry">
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">DEO start</h2>
                                    <p class="govuk-caption-m">1 June 2023</p>
                                </li>
                                <li class="dwp-timeline__events--entry">
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Call to employer</h2>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1">Date of call 15 May 2023 </p>
                                    <p class="govuk-caption-m govuk-!-margin-bottom-1"><a href="deo1-notes1.html"
                                            class="govuk-link">View
                                            notes</a></p>
                                    <p class="govuk-caption-m">15 May 2023</p>
                                </li>
                                <li class="dwp-timeline__events--entry">
                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">New DEO set up</h2>
                                    <p class="govuk-caption-m">1 May 2023</p>
                                </li>
                            </ol>
                        </div>
                    </div>

                </div> <!-- govuk-tabs -->
            </div> <!-- govuk-grid-column-two-thirds -->
            <div class="govuk-grid-column-one-quarter">

                <h2 class="govuk-heading-m">Update this account</h2>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" href="employer-call1.html">Make a call to the employer</a>
                    </li>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    <li>
                        <a class="govuk-link" href="nad1.html">Set a next action date</a>
                    </li>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    <li>
                        <a class="govuk-link" href="send-notification.html">Send a letter</a>
                    </li>
                    <hr class="govuk-section-break  govuk-section-break--m govuk-section-break--visible">
                    <li>
                        <a class="govuk-link" href="#">Send an email to the employer</a>
                    </li>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    <li>
                        <a class="govuk-link" href="close-task.html">Close this task</a>
                    </li>
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                    <li>
                        <a class="govuk-link" href="view-tasks.html">Go back to tasks list</a>
                    </li>

                </ul>

            </div> <!-- govuk-grid-column-one-quarter -->
        </div> <!-- govuk-grid-row -->


    </main>
</div> <!-- govuk-width-container -->
{% endblock %}