{% extends "layout_dwp_unbranded_key_details.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="missed-payment-details.html" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">

                <h2 class="govuk-heading-s">Page navigation</h2>
                <!-- <ul class="govuk-list">
                    <li>
                        <a class="govuk-link" href="employer-call1.html">Make a call to the employer</a>
                    </li>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    <li>
                        <a class="govuk-link" href="nad1.html">Set a next action date</a>
                    </li>
                    <hr class="govuk-section-break  govuk-section-break--m govuk-section-break--visible">
                    <li>
                        <a class="govuk-link" href="send-notification.html">Send a letter</a>
                    </li>
                    <hr class="govuk-section-break  govuk-section-break--m govuk-section-break--visible">
                    <li>
                        <a class="govuk-link" href="#">Send an email to the employer</a>
                    </li>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    <li>
                        <a class="govuk-link" href="close-task.html">Close this task</a>
                    </li>
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                    <li>
                        <a class="govuk-link" href="view-tasks.html">Go back to tasks list</a>
                    </li>

                </ul> -->

                <button class="dwp-side-navigation__button" data-module="dwp-side-navigation"
                    data-target="dwp-side-navigation-panel" data-label-hide="Hide navigation"
                    data-label-show="Show navigation" aria-expanded="false">
                    <span class="dwp-side-navigation__section-toggle-focus">
                        <span class="dwp-side-navigation__chevron dwp-side-navigation__chevron--down"></span>
                        <span class="dwp-side-navigation__section-toggle-text">Show navigation</span>
                    </span>
                </button>
                <nav data-module="dwp-side-navigation-panel" class="dwp-side-navigation dwp-side-navigation--mobile"
                    aria-label="Side" role="navigation">
                    <ul class="dwp-side-navigation__list">
                        <li class="dwp-side-navigation__item">
                            <a id="s-item-1" href="#" class="dwp-side-navigation__link">
                                Payment details
                            </a>
                        </li>
                        <li class="dwp-side-navigation__item">
                            <a id="s-item-2" href="deo1-details-new-payment-deo-activity.html"
                                class="dwp-side-navigation__link">
                                DEO activity
                            </a>
                        </li>
                        <li class="dwp-side-navigation__item">
                            <a id="s-item-3" href="deo1-details-new-payment-deo-activity-archive.html"
                                class="dwp-side-navigation__link">
                                DEO activity archive
                            </a>
                        </li>
                        <li class="dwp-side-navigation__item">
                            <a id="s-item-4" href="deo1-details-new-employer-contacts.html"
                                class="dwp-side-navigation__link">
                                Employer contacts
                            </a>
                        </li>
                        <!-- <li class="dwp-side-navigation__item">
                            <a id="s-item-5" href="#s-item-5" class="dwp-side-navigation__link">
                                Item 5
                            </a>
                        </li> -->
                    </ul>
                </nav>
                <h2 class="govuk-heading-s">What do you want to do next?</h2>
                <nav data-module="dwp-side-navigation-panel" class="dwp-side-navigation dwp-side-navigation--mobile"
                    aria-label="Side" role="navigation">
                    <ul class="dwp-side-navigation__list">
                        <li class="dwp-side-navigation__item">
                            <a id="s-item-1" href="employer-call1.html" class="dwp-side-navigation__link">
                                Make a call to the employer
                            </a>
                        </li>
                        <li class="dwp-side-navigation__item">
                            <a id="s-item-2" href="nad1.html" class="dwp-side-navigation__link">
                                Set a Next Action Due Date
                            </a>
                        </li>
                        <li class="dwp-side-navigation__item">
                            <a id="s-item-3" href="send-notification.html" class="dwp-side-navigation__link">
                                Send a letter
                            </a>
                        </li>
                        <li class="dwp-side-navigation__item">
                            <a id="s-item-4" href="close-task.html" class="dwp-side-navigation__link">
                                Close this task
                            </a>
                        </li>
                        <li class="dwp-side-navigation__item">
                            <a id="s-item-5" href="view-tasks.html" class="dwp-side-navigation__link">
                                Go back to tasks list
                            </a>
                        </li>
                    </ul>
                </nav>
            </div> <!-- govuk-grid-column-one-quarter -->

            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-l">Payment details</h1>

                <div class="govuk-tabs" data-module="govuk-tabs">
                    <h2 class="govuk-tabs__title">
                        Contents
                    </h2>
                    <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                            <a class="govuk-tabs__tab" href="#past-day">
                                DEO payments
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#past-week">
                                RTI deductions
                            </a>
                        </li>
                        <!--  <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#past-month">
                      Past month
                    </a>
                  </li>
                  <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#past-year">
                      Past year
                    </a>
                  </li> -->
                    </ul>
                    <div class="govuk-tabs__panel" id="past-day">
                        <h2 class="govuk-heading-m">DEO payments</h2>
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    DEO Start date
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    31st March 2023
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    DEO payment amount
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    £100 per month
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Date last payment received
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    31st August 2023
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Amount received
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    £50
                                </dd>
                            </div>
                        </dl>
                    </div> <!-- govuk-tabs__panel -->
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
                        <h2 class="govuk-heading-m">RTI deductions</h2>
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Payroll frequency
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Weekly - last working day of each week
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    NET earnings - PAYE
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    £400 per week
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Last CMS payment deducted
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    31st August 2023
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Last CMS amount deducted
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    £50
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Previous NET earnings - PAYE
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    £400
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Debt Management deductions
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    £0
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Pension deductions
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    £25
                                </dd>
                            </div>
                        </dl>
                    </div> <!-- govuk-tabs__panel -->
                    
                </div> <!-- govuk-tabs -->

            </div> <!-- govuk-grid-column-three-quarters -->

        </div> <!-- govuk-grid-row -->


    </main>
</div> <!-- govuk-width-container -->
{% endblock %}