{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">Record the call details</h1>

                <h2 class="govuk-heading-s">Date and time of call</h2>
                <p class="govuk-body">Monday 20 May - 15:45</p>

                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--s" for="width-20">
                    Which number did you call?
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text">
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--s" for="sort">
                    Select a category
                  </label>
                  <!-- <div id="location-hint" class="govuk-hint">
                    This can be different to where you went before
                  </div> -->
                  <select class="govuk-select" id="sort" name="sort">
                    <option value="None" selected>None</option>
                    <option value="Setting up DEO">Setting up DEO</option>
                    <option value="DEO not received">DEO not received</option>
                    <option value="Part payment received">Part payment received</option>
                    <option value="Employee left the company">Employee left the company</option>
                    <option value="Employer error">Employer error</option>                    
                  </select>
                </div>

                  <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                      <label class="govuk-label govuk-label--s" for="employercall-detail">
                        Call summary 
                      </label>
                    </h1>
                    <textarea class="govuk-textarea" id="employercall-detail" name="employercall-detail" rows="8" aria-describedby="more-detail-hint"></textarea>
                  </div>

                  <a href="deo1-details-alt-updated-1#past-week.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">Save and continue</a>
                  
            </div> <!-- govuk-grid-column-two-thirds -->
        </div> <!-- govuk-grid-row -->


    </main>
</div> <!-- govuk-width-container -->
{% endblock %}