{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="view-tasks.html" class="govuk-back-link">Back to tasks list</a>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h1 class="govuk-heading-l">AB Cars Ltd</h1>
                <p class="govuk-body">
                    Unit 3</br>
                    Greenway Industrial Estate</br>
                    Newtown</br>
                    Oldcity</br>
                    OY32 1JK
                </p>
                </p>
                
            </div> <!-- govuk-grid-column-one-half -->


            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-s govuk-!-text-align-right govuk-!-margin-bottom-0">Employer Reference Number:
                </h2>
                <p class="govuk-body govuk-!-text-align-right govuk-!-margin-top-0">501001687235</p>
                <h2 class="govuk-heading-s govuk-!-text-align-right  govuk-!-margin-bottom-0">Payroll frequency:</h2>
                <p class="govuk-body govuk-!-text-align-right govuk-!-margin-top-0">Weekly</p>
                <h2 class="govuk-heading-s govuk-!-text-align-right govuk-!-margin-bottom-0">Employer referred to FIU:
                </h2>
                <p class="govuk-body govuk-!-text-align-right govuk-!-margin-top-0">No</p>

            </div> <!-- govuk-grid-column-one-half -->
        </div> <!-- govuk-grid-row -->

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
            
                <!-- <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--m">New tasks</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header ">NINO</th>
                            <th scope="col" class="govuk-table__header ">Date payment due</th>                          
                            <th scope="col" class="govuk-table__header ">Category</th>
                            <th scope="col" class="govuk-table__header ">Priority</th>                           
                            <th scope="col" class="govuk-table__header">Details</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
                                New
                              </strong>
                            <td class="govuk-table__cell ">David Francis</td>
                            <td class="govuk-table__cell">AA112233A</td>               
                            <td class="govuk-table__cell">31st August 2023</td>
                            <td class="govuk-table__cell  govuk-!-width-one-quarter">New DEO imposed - incorrect payment received</td>
                            <td class="govuk-table__cell">High</td>                           
                            <td class="govuk-table__cell"><a href="deo1-details-alt.html" class="govuk-link">View details</a></td>
                        </tr>
                    </tbody>
                </table> -->

                <!-- <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--m">In progress tasks</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">NINO</th>
                            <th scope="col" class="govuk-table__header">Date payment received</th>
                            <th scope="col" class="govuk-table__header ">Category</th>
                            <th scope="col" class="govuk-table__header">Priority</th>                            
                            <th scope="col" class="govuk-table__header">Details</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell "><strong class="govuk-tag govuk-tag--yellow">
                                Waiting
                               </strong>
                            </td>
                            <td class="govuk-table__cell ">David Francis</td>
                            <td class="govuk-table__cell">AA112233A</td>                            
                            <td class="govuk-table__cell">31 July 2023</td>                            
                            <td class="govuk-table__cell ">New DEO imposed - no payment received</td>
                            <td class="govuk-table__cell">High</td>                           
                            <td class="govuk-table__cell"><a href="deo1-details.html" class="govuk-link">View details</a></td>
                        </tr>
                    </tbody>
                </table> -->


                <div class="govuk-tabs" data-module="govuk-tabs">
                    <h2 class="govuk-tabs__title">
                      Contents
                    </h2>
                    <ul class="govuk-tabs__list">
                      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#past-day">
                          Weekly payroll new tasks
                        </a>
                      </li>
                      <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#past-week">
                          Weekly payroll in progress tasks
                        </a>
                      </li>
                      <!-- <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#past-month">
                          Past month
                        </a>
                      </li>
                      <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#past-year">
                          Past year
                        </a>
                      </li> -->
                    </ul>
                    <div class="govuk-tabs__panel" id="past-day">
                      <h2 class="govuk-heading-l">Weekly payroll new tasks</h2>
                      <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Status</th>
                                <th scope="col" class="govuk-table__header">Name</th>
                                <th scope="col" class="govuk-table__header ">NINO</th>
                                <!-- <th scope="col" class="govuk-table__header ">Task type</th> -->
                                <th scope="col" class="govuk-table__header ">Date payment due</th>
                                
                                <th scope="col" class="govuk-table__header ">Category</th>
                                <th scope="col" class="govuk-table__header ">Priority</th>
                                
                                <th scope="col" class="govuk-table__header">Details</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
                                    New
                                  </strong>
                                <td class="govuk-table__cell ">David Francis</td>
                                <td class="govuk-table__cell">AA112233A</td>
                                <!-- <td class="govuk-table__cell">Missed payment</td> -->
                                <td class="govuk-table__cell">31st August 2023</td>
                                
                                </td>
                                <td class="govuk-table__cell  govuk-!-width-one-quarter">New DEO imposed - incorrect payment received</td>
                                <td class="govuk-table__cell">High</td>
                                
                                <td class="govuk-table__cell"><a href="deo1-details-alt.html" class="govuk-link">View details</a></td>
                            </tr>
                        </tbody>
                    </table>
                    </div>

                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
                      <h2 class="govuk-heading-l">Weekly payroll in progress tasks</h2>
                      <table class="govuk-table">
                        
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Status</th>
                                <th scope="col" class="govuk-table__header">Name</th>
                                <th scope="col" class="govuk-table__header">NINO</th>
                                <th scope="col" class="govuk-table__header">Date payment due</th>
                                <!-- <th scope="col" class="govuk-table__header ">Date of task</th> -->
                                
                                <th scope="col" class="govuk-table__header ">Category</th>
                                <th scope="col" class="govuk-table__header">Priority</th>
                                
                                <th scope="col" class="govuk-table__header">Details</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell "><strong class="govuk-tag govuk-tag--yellow">
                                    Wait
                                   </strong>
                                </td>
                                <td class="govuk-table__cell ">David Francis</td>
                                <td class="govuk-table__cell">AA112233A</td>
                                <!-- <td class="govuk-table__cell">Missed payment</td> -->
                                <td class="govuk-table__cell">31 July 2023</td>
                                
                                <td class="govuk-table__cell ">New DEO imposed - no payment received</td>
                                <td class="govuk-table__cell">High</td>
                               
                                <td class="govuk-table__cell"><a href="deo1-details.html" class="govuk-link">View details</a></td>
                            </tr>
                        </tbody>
                    </table>
                    </div>

                    <!-- <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
                      <h2 class="govuk-heading-l">Past month</h2>
                      <table class="govuk-table">
                        <thead class="govuk-table__head">
                          <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Case manager</th>
                            <th scope="col" class="govuk-table__header">Cases opened</th>
                            <th scope="col" class="govuk-table__header">Cases closed</th>
                          </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">David Francis</td>
                            <td class="govuk-table__cell">98</td>
                            <td class="govuk-table__cell">95</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Paul Farmer</td>
                            <td class="govuk-table__cell">122</td>
                            <td class="govuk-table__cell">131</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Rita Patel</td>
                            <td class="govuk-table__cell">126</td>
                            <td class="govuk-table__cell">142</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
                      <h2 class="govuk-heading-l">Past year</h2>
                      <table class="govuk-table">
                        <thead class="govuk-table__head">
                          <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Case manager</th>
                            <th scope="col" class="govuk-table__header">Cases opened</th>
                            <th scope="col" class="govuk-table__header">Cases closed</th>
                          </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">David Francis</td>
                            <td class="govuk-table__cell">1380</td>
                            <td class="govuk-table__cell">1472</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Paul Farmer</td>
                            <td class="govuk-table__cell">1129</td>
                            <td class="govuk-table__cell">1083</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Rita Patel</td>
                            <td class="govuk-table__cell">1539</td>
                            <td class="govuk-table__cell">1265</td>
                          </tr>
                        </tbody>
                      </table> -->
                    </div>
                  </div>

            </div> <!-- govuk-grid-column-full -->
        </div> <!-- govuk-grid-row -->
    </main>
</div> <!-- govuk-width-container -->
{% endblock %}