{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">When is the next action due?</h1>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="nad-hint">
                      <legend class="govuk-fieldset__legend">

                      </legend>
                      <div id="nad-hint" class="govuk-hint">
                        For example, 27 3 2007
                      </div>
                      <div class="govuk-date-input" id="nad">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="nad-day">
                              Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="nad-day" name="nad-day" type="text" inputmode="numeric">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="nad-month">
                              Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="nad-month" name="nad-month" type="text" inputmode="numeric">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="nad-year">
                              Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="nad-year" name="nad-year" type="text" inputmode="numeric">
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>

                  <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                      <label class="govuk-label govuk-label--s" for="nad-detail">
                        What is the action?
                      </label>
                    </h1>
                    <textarea class="govuk-textarea" id="nad-detail" name="nad-detail" rows="8" aria-describedby="nad-hint"></textarea>
                  </div>

                  <a href="deo1-details-new-payment-deo-activity-updated-2.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">Save and continue</a>
                  
            </div> <!-- govuk-grid-column-two-thirds -->
        </div> <!-- govuk-grid-row -->


    </main>
</div> <!-- govuk-width-container -->
{% endblock %}