{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Missing payment tasks</h1>

        <div class="govuk-form-group">
          <label class="govuk-label" for="search-it4">
            Search on ERN, employer name, (any other search criteria?)
          </label>
          <input class="govuk-input govuk-input--width-30" id="search-it4" name="search-it4" type="text"
            autocomplete="name" spellcheck="false">
        </div> <!-- govuk-form-group -->
        <input type="submit" class="govuk-button" value="Search" id="submit">

        <!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"> -->



        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Employer</th>
              <th scope="col" class="govuk-table__header">Active DEO's</th>
              <th scope="col" class="govuk-table__header">Missed payments</th>
              <th scope="col" class="govuk-table__header">FIU referred</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header">Date payment due</th>
              <th scope="col" class="govuk-table__header">Action</th>

            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">AB Cars Ltd:</br>Weekly payroll</td>
              <td class="govuk-table__cell">2</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">No</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
                  Wait
                </strong></td>
              <td class="govuk-table__cell">28 September 2023</td>
              <td class="govuk-table__cell"><a href="missed-payment-details.html" class="govuk-link">View task</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">AB Cars Ltd:</br>Monthly payroll</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">No</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                  New
                </strong></td>
              <td class="govuk-table__cell">28 September 2023</td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">View task</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Creek carpets Ltd:</br>Monthly payroll</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">No</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                  New
                </strong></td>
              <td class="govuk-table__cell">31 December 2023</td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">View task</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Asda Plc:</br>4 weekly payroll</td>
              <td class="govuk-table__cell">23</td>
              <td class="govuk-table__cell">3</td>
              <td class="govuk-table__cell">No</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                  New
                </strong></td>
              <td class="govuk-table__cell">30 November 2023</td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">View task</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Asda Plc:</br>Fortnightly payroll</td>
              <td class="govuk-table__cell">16</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">No</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
                  Wait
                </strong></td>
              <td class="govuk-table__cell">30 November 2023</td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">View task</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Harry's Bar Ltd:</br>Monthly payroll</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">No</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                  New
                </strong></td>
              <td class="govuk-table__cell">30 September 2023</td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">View task</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Scotts Shoes Ltd:</br>4 weekly payroll</td>
              <td class="govuk-table__cell">2</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">No</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
                  Wait
                </strong></td>
              <td class="govuk-table__cell">30 September 2023</td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">View task</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Sky Lite ltd:</br>Monthly payroll</td>
              <td class="govuk-table__cell">2</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">No</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                  New
                </strong></td>
              <td class="govuk-table__cell">31 October 2023</td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">View task</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Macdonalds Plc:</br>Weekly payroll</td>
              <td class="govuk-table__cell">24</td>
              <td class="govuk-table__cell">2</td>
              <td class="govuk-table__cell">No</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
                  NADD-set
                </strong></td>
              <td class="govuk-table__cell">30 November 2023</td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">View task</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Macdonalds Plc:</br>Monthly payroll</td>
              <td class="govuk-table__cell">19</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">No</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">
                  NADD-due
                </strong></td>
              <td class="govuk-table__cell">30 November 2023</td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">View task</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Terry's Baps Ltd:</br>Fortnightly payroll</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">No</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
                  NADD-set
                </strong></td>
              <td class="govuk-table__cell">31 December 2023</td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">View task</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Stoves Bakers Ltd:</br>Monthly payroll</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">Yes</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
                  NADD-set
                </strong></td>
              <td class="govuk-table__cell">31 December 2023</td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">View task</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Superspray Ltd:</br>Weekly payroll</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">Yes</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">
                  NADD-due
                </strong></td>
              <td class="govuk-table__cell">30 September 2023</td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">View task</a></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </main>
</div>

{% endblock %}