{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">A letter has been sent</h1>
          <div class="govuk-panel__body">The DEO history has been updated</div>
        </div>
      
        <a href="deo1-details-alt-updated-3.html" role="button" draggable="false"
          class="govuk-button" data-module="govuk-button">Return to DEO</a>

        </div>
    </div>
</div>
</main>
</div>

{% endblock %}