{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form action="confirmation-page-letter.html" method="get">

                    <h1 class="govuk-heading-l">Passport details</h1>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h1 class="govuk-fieldset__heading">
                                    Which letter do you want to send?
                                </h1>
                            </legend>
                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="notification-1" name="notification"
                                        type="radio" value="">
                                    <label class="govuk-label govuk-radios__label" for="notification-1">
                                        8205 - Missed Payment letter
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="notification-2" name="notification"
                                        type="radio" value="">
                                    <label class="govuk-label govuk-radios__label" for="notification-2">
                                        Another letter
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="notification-3" name="notification"
                                        type="radio" value="">
                                    <label class="govuk-label govuk-radios__label" for="notification-3">
                                        A different letter
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h1 class="govuk-fieldset__heading">
                                    Who do you want to send the letter to?
                                </h1>
                            </legend>
                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="notificationRecipient-1"
                                        name="notificationRecipient" type="radio" value="england">
                                    <label class="govuk-label govuk-radios__label" for="notificationRecipient-1">
                                        Ishamail Hassan
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="notificationRecipient-2"
                                        name="notificationRecipient" type="radio" value="scotland">
                                    <label class="govuk-label govuk-radios__label" for="notificationRecipient-2">
                                        Jackie Forbes
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>


                    <input type="submit" class="govuk-button" value="Save and continue" id="submit">

                </form>

            </div> <!-- govuk-grid-column-one-half -->
        </div> <!-- govuk-grid-row -->


    </main>
</div> <!-- govuk-width-container -->
{% endblock %}