{% extends "layout_cm.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="/form-handler" method="post" novalidate>
          <h1 class="govuk-heading-l">Enter your one-time passcode</h1>
          <div class="govuk-form-group">
            <label class="govuk-label" for="login-passcode">One-time passcode</label>
            <input class="govuk-input" id="login-passcode" name="login-passcode" type="text" spellcheck="false"
              aria-describedby="email-hint" autocomplete="text">
          </div>

          <a href="create-password.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
           Continue
          </a>

        </form>

        <!-- <h2 class="govuk-heading-m">Problems entering the passcode</h2>
        <ul class="govuk-list">
          <li><a href="#" class="govuk-link">Request a new passcode</a></li>

          <li><a href="reset-email.html" class="govuk-link">I have forgotten my email</a></li>
        </ul> -->

       <a href="otp-not-received.html" class="govuk-link">I have not received a passcode</a>

      </div>
    </div>
  </main>
</div>
{% endblock %}