{% extends "layout_cm.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="log-in-password-locked.html" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        

        <h1 class="govuk-heading-l">Your account is now locked</h1>

        <p class="govuk-body">Try again in 10 minutes</p>



    </div>
</div>
</main>
</div>
{% endblock %}