{% extends "layout.html" %}



{% block content %}


<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="query-type-uk-landline.html" method="get">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Is this your email address? 
                </h1>
              </legend>
              <p class="govuk-heading-m">john.smith@company.co.uk</p>

              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="email-confirm" name="email-confirm" type="radio"
                    value="yes~telephone.html">
                  <label class="govuk-label govuk-radios__label" for="email-confirm">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="email-confirm-2" name="email-confirm" type="radio"
                    value="no~email.html">
                  <label class="govuk-label govuk-radios__label" for="email-confirm-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
          <br><a href="name.html">Cancel</a>

        </form>
      </div>
    </div>
  </main>

</div>

{% endblock %}