{% extends "layout_cm.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Enter your details to register </h1>
        <form action="notification.html" method="get" novalidate>
          <div class="govuk-form-group">
            <label class="govuk-heading-m" for="ern">ERN</label>
            <div id="ern-hint" class="govuk-hint">
              This is the 12 digit number you can find at the top of your letters.
            </div>
            <input class="govuk-input govuk-input--width-20" id="ern" name="ern" type="number"
              spellcheck="false" aria-describedby="email-hint">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-heading-m" for="paye">PAYE number</label>
            <div id="paye-hint" class="govuk-hint">
              You can find it on your P30BC payslip booklet. For example, '123/XY12345'.
            </div>
            <input class="govuk-input govuk-input--width-20" id="paye" name="paye" type="text"
              spellcheck="false" aria-describedby="email-hint">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-heading-m" for="email">Email </label>
            <div id="email-hint" class="govuk-hint">
              You will use this email address to sign into the service.
            </div>
            <input class="govuk-input" id="email" name="email" type="email" spellcheck="false"
              aria-describedby="password-hint">
          </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      </form>

    </div>
</div>
</main>
</div>
{% endblock %}