{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form action="confirmation-page-close-task.html" method="get">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-fieldset__heading">
                                   Who do you want to assign the receipt to?
                                </h1>
                            </legend>

                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="assign-1" name="assign" type="radio"
                                        value="" data-aria-controls="conditional-assign-1">
                                    <label class="govuk-label govuk-radios__label" for="assign-1">
                                        Assign the receipt to this employer: <strong><br>AB Cars Ltd. <br>ERN: 501001687235</strong>
                                    </label>
                                    <div id="assign-1-hint" class="govuk-hint govuk-radios__hint">
                                        This option will set up a recurring rule for each receipt with these details for this employer
                                      </div>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                    id="conditional-assign-1">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="assign-1-details">
                                            Give details
                                        </label>
                                        <input class="govuk-input" id="assign-1-details" name="assign-1-details"
                                            type="text" spellcheck="false" autocomplete="">
                                    </div>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="assign-2" name="assign" type="radio"
                                        value="phone" data-aria-controls="conditional-assign-2">
                                    <label class="govuk-label govuk-radios__label" for="assign-2">
                                        Assign the receipt to the Paying Parent: <strong><br>David Francis</strong>
                                    </label>
                                    <div id="assign-1-hint" class="govuk-hint govuk-radios__hint">
                                        This option will set up a recurring rule for each receipt with these details for this Paying Parent
                                      </div>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                    id="conditional-assign-2">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="assign-2-details">
                                            Give details
                                        </label>
                                        <input class="govuk-input" id="assign-2-details" name="assign-2-details"
                                            type="text" autocomplete="">
                                    </div>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="assign-3" name="assign" type="radio"
                                        value="" data-aria-controls="conditional-assign-3">
                                    <label class="govuk-label govuk-radios__label" for="contact-3">
                                        Assign the receipt to Debt Management
                                    </label>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                    id="conditional-assign-3">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="assign-3-details">
                                            Give details
                                        </label>
                                        <input class="govuk-input" id="assign-3-details" name="assign-3-details"
                                            type="text" autocomplete="">
                                    </div>
                                </div>
                                <!-- <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="assign-4" name="assign" type="radio"
                                        value="text" data-aria-controls="conditional-assign-4">
                                    <label class="govuk-label govuk-radios__label" for="contact-4">
                                        Assign 
                                    </label>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                    id="conditional-assign-4">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="assign-4-details">
                                            Give details
                                        </label>
                                        <input class="govuk-input" id="assign-4-details" name="assign-4-details"
                                            type="text" autocomplete="">
                                    </div>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="assign-5" name="assign" type="radio"
                                        value="text" data-aria-controls="conditional-assign-5">
                                    <label class="govuk-label govuk-radios__label" for="contact-3">
                                        Employer has sent an unexpected amount
                                    </label>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                    id="conditional-assign-5">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="assign-5-details">
                                            Give details
                                        </label>
                                        <input class="govuk-input" id="assign-5-details" name="assign-5-details"
                                            type="text" autocomplete="">
                                    </div>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="assign-6" name="assign" type="radio"
                                        value="text" data-aria-controls="conditional-assign-6">
                                    <label class="govuk-label govuk-radios__label" for="assign-6">
                                        Employer has non monthly payroll - old style DEO
                                    </label>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                    id="conditional-assign-6">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="assign-6-details">
                                            Give details
                                        </label>
                                        <input class="govuk-input" id="assign-6-details" name="assign-6-details"
                                            type="text" autocomplete="">
                                    </div>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="assign-7" name="assign" type="radio"
                                        value="text" data-aria-controls="conditional-assign-7">
                                    <label class="govuk-label govuk-radios__label" for="assign-7">
                                        Employer missing payment check has been run at the wrong time - old style DEO
                                    </label>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                    id="conditional-assign-7">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="assign-7-details">
                                            Give details
                                        </label>
                                        <input class="govuk-input" id="assign-7-details" name="assign-7-details"
                                            type="text" autocomplete="">
                                    </div>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="assign-8" name="assign" type="radio"
                                        value="text" data-aria-controls="conditional-assign-8">
                                    <label class="govuk-label govuk-radios__label" for="assign-8">
                                        Other reason
                                    </label>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                    id="conditional-assign-8">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="assign-8-details">
                                            Give details
                                        </label>
                                        <input class="govuk-input" id="assign-8-details" name="assign-8-details"
                                            type="text" autocomplete="">
                                    </div>
                                </div> -->
                                <!--  <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="assign-9" name="assign" type="radio" value="text" data-aria-controls="conditional-assign-9">
                            <label class="govuk-label govuk-radios__label" for="assign-9">
                                Task refferred to Team Leader
                            </label>
                          </div>
                          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-assign-9">
                            <div class="govuk-form-group">
                              <label class="govuk-label" for="assign-9-details">
                                Give details
                              </label>
                              <input class="govuk-input" id="assign-9-details" name="assign-9-details" type="text" autocomplete="">
                            </div>
                          </div> -->

                            </div>
                        </fieldset>
                    </div>

                    <input type="submit" class="govuk-button" value="Save and continue" id="submit">

                </form>

            </div> <!-- govuk-grid-column-one-half -->
        </div> <!-- govuk-grid-row -->


    </main>
</div> <!-- govuk-width-container -->
{% endblock %}