{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">Details of the call</h1>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="employercall">
                      <legend class="govuk-fieldset__legend">
                        When was the call made?
                      </legend>
                      <div id="passport-issued-hint" class="govuk-hint">
                        For example, 27 3 2007
                      </div>
                      <div class="govuk-date-input" id="employercall">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="employercall-day">
                              Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="employercall-day" name="employercall-day" type="text" inputmode="numeric">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="employercall-month">
                              Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="employercall-month" name="employercall-month" type="text" inputmode="numeric">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="employercall-year">
                              Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="employercall-year" name="employercall-year" type="text" inputmode="numeric">
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>

                  <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                      <label class="govuk-label govuk-label--s" for="employercall-detail">
                        Give details of the call
                      </label>
                    </h1>
                    <textarea class="govuk-textarea" id="employercall-detail" name="employercall-detail" rows="8" aria-describedby="more-detail-hint"></textarea>
                  </div>

                  <a href="deo1-details-updated-1.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">Save and continue</a>
                  
            </div> <!-- govuk-grid-column-two-thirds -->
        </div> <!-- govuk-grid-row -->


    </main>
</div> <!-- govuk-width-container -->
{% endblock %}