{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="view-tasks.html" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h1 class="govuk-heading-l">AB Cars Ltd</h1>
                <p class="govuk-body">
                    Unit 3</br>
                    Greenway Industrial Estate</br>
                    Newtown</br>
                    Oldcity</br>
                    OY32 1JK
                </p>
            </div> <!-- govuk-grid-column-one-half -->

            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-s govuk-!-text-align-right govuk-!-margin-bottom-0">Employer Reference Number:
                </h2>
                <p class="govuk-body govuk-!-text-align-right govuk-!-margin-top-0">501001687235</p>
                <!-- <h2 class="govuk-heading-s govuk-!-text-align-right  govuk-!-margin-bottom-0">Payroll frequency:</h2>
                <p class="govuk-body govuk-!-text-align-right govuk-!-margin-top-0">501001687235</p> -->
                <h2 class="govuk-heading-s govuk-!-text-align-right govuk-!-margin-bottom-0">Employer referred to FIU:
                </h2>
                <p class="govuk-body govuk-!-text-align-right govuk-!-margin-top-0">No</p>

            </div> <!-- govuk-grid-column-one-half -->
        </div> <!-- govuk-grid-row -->

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--m">Active DEO's </caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
                            <th scope="col" class="govuk-table__header">NINO</th>
                           <!--  <th scope="col" class="govuk-table__header ">DEO start date</th>
                            <th scope="col" class="govuk-table__header ">DEO end date</th> -->
                            <th scope="col" class="govuk-table__header ">Payment amount</th>                            
                            <th scope="col" class="govuk-table__header ">Payment frequency</th>
                            <th scope="col" class="govuk-table__header">Action</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell ">David Francis</td>
                            <td class="govuk-table__cell">AA112233A</td>
                            <!-- <td class="govuk-table__cell">31st March 2023</td>
                            <td class="govuk-table__cell">30th April  2024</td> -->
                            <td class="govuk-table__cell">£35.20</td>
                            <td class="govuk-table__cell">Last day of each month</td>                           
                            <td class="govuk-table__cell"><a href="deo1-details.html" class="govuk-link">View DEO</a></td>
                        </tr>
                    </tbody>
                </table>

                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--m">Inactive DEO's</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
                            <th scope="col" class="govuk-table__header">NINO</th>
                           <!--  <th scope="col" class="govuk-table__header ">DEO start date</th>
                            <th scope="col" class="govuk-table__header ">DEO end date</th> -->
                            <th scope="col" class="govuk-table__header ">Payment amount</th>                            
                            <th scope="col" class="govuk-table__header ">Payment frequency</th>
                            <th scope="col" class="govuk-table__header">Action</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell ">Carl Cox</td>
                            <td class="govuk-table__cell">BB556677B</td>
                            <!-- <td class="govuk-table__cell">28th February 2022</td>
                            <td class="govuk-table__cell">31st January 2023</td> -->
                            <td class="govuk-table__cell">£77.00</td>
                            <td class="govuk-table__cell">Last day of each month</td>                           
                            <td class="govuk-table__cell"><a href="#" class="govuk-link">View DEO</a></td>
                        </tr>
                    </tbody>
                </table>

            </div> <!-- govuk-grid-column-full -->
        </div> <!-- govuk-grid-row -->
    </main>
</div> <!-- govuk-width-container -->
{% endblock %}