{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--l">Unassigned receipt</caption>
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Date of receipt</th>
                        <th scope="col" class="govuk-table__header">Amount</th>
                        <th scope="col" class="govuk-table__header">Account name</th>
                        <th scope="col" class="govuk-table__header">Sort code</th>
                        <th scope="col" class="govuk-table__header">Account number</th>
                        <th scope="col" class="govuk-table__header">BACS payment reference</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">27th September 2023</td>
                        <td class="govuk-table__cell">£35.20</td>
                        <td class="govuk-table__cell">Taxis</td>
                        <td class="govuk-table__cell">11-11-10</td>
                        <td class="govuk-table__cell">76541234</td>
                        <td class="govuk-table__cell">D Francis</td>
                      </tr>
                      
                    </tbody>
                  </table>


                <h2 class="govuk-heading-m">Search</h2>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="search-it4">
                        Enter any details from the unassigned receipt
                    </label>
                    <input class="govuk-input govuk-input--width-30" id="search-it4" name="search-it4" type="text" autocomplete="name"
                        spellcheck="false">
                </div> <!-- govuk-form-group -->

                <input type="submit" class="govuk-button" value="Search" id="submit">


            </div> <!-- govuk-grid-column-two-thirds -->
            <div class="govuk-grid-column-one-third">

            </div> <!-- govuk-grid-column-one-third -->
        </div>

    </main>
</div>

{% endblock %}