{% extends "layout_cm.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            One-time passcode requested
          </h1>

        </div>
        <p class="govuk-body">
          You'll receive an email containing a new one-time passcode to the email address; <strong>{{data['v7-email']}}</strong> 
          <br>
          <br>
          This passcode will be valid for 15 minutes.
        </p>
        <a href="log-in-passcode.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Continue
            </a>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <a href="invite-email.html" class="govuk-link">
          Continue the passcode resend journey
        </a>

      </div>
    </div>
  </main>
</div>
{% endblock %}