{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">The details for AB Cars Ltd have been updated </h1>
          <div class="govuk-panel__body"></div>
        </div>
      
        <a href="employer-information.html" role="button" draggable="false"
          class="govuk-button" data-module="govuk-button">Back to employer information</a>

        </div>
    </div>
</div>
</main>
</div>

{% endblock %}