{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form action="cya.html" method="get">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h1 class="govuk-fieldset__heading">
                        What is the correspondence address?
                      </h1>
                    </legend>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="correspondence-address-line-1">
                        Address line 1
                      </label>
                      <input class="govuk-input" id="correspondence-address-line-1" name="correspondence-addressLine1" type="text" autocomplete="correspondence-address-line1">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="correspondence-address-line-2">
                        Address line 2 (optional)
                      </label>
                      <input class="govuk-input" id="correspondence-address-line-2" name="correspondence-addressLine2" type="text" autocomplete="correspondence-address-line2">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="correspondence-address-town">
                        Town or city
                      </label>
                      <input class="govuk-input govuk-!-width-two-thirds" id="correspondence-address-town" name="correspondence-addressTown" type="text" autocomplete="correspondence-address-level2">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="correspondence-address-county">
                        County (optional)
                      </label>
                      <input class="govuk-input govuk-!-width-two-thirds" id="correspondence-address-county" name="correspondence-addressCounty" type="text">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="correspondence-address-postcode">
                        Postcode
                      </label>
                      <input class="govuk-input govuk-input--width-10" id="correspondence-address-postcode" name="correspondence-addressPostcode" type="text" autocomplete="correspondence-postal-code">
                    </div>
                  </fieldset>

                    <input type="submit" class="govuk-button" value="Save and continue" id="submit">

                </form>

            </div> <!-- govuk-grid-column-one-half -->
        </div> <!-- govuk-grid-row -->


    </main>
</div> <!-- govuk-width-container -->
{% endblock %}