{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form action="cya-correspondence-edit.html" method="get">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h1 class="govuk-fieldset__heading">
                        Change the preferred contact address for AB Cars Ltd
                      </h1>
                    </legend>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="correspondence-address-line-1-edit">
                        Address line 1
                      </label>
                      <input class="govuk-input" id="correspondence-address-line-1-edit" name="correspondence-addressLine1-edit" type="text" autocomplete="correspondence-address-line1" value="The head office">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="correspondence-address-line-2-edit">
                        Address line 2 (optional)
                      </label>
                      <input class="govuk-input" id="correspondence-address-line-2-edit" name="correspondence-addressLine2-edit" type="text" autocomplete="correspondence-address-line2-edit" value="321 Up Street">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="correspondence-address-town-edit">
                        Address line 3
                      </label>
                      <input class="govuk-input govuk-!-width-two-thirds" id="correspondence-address-town-edit" name="correspondence-addressTown-edit" type="text" autocomplete="correspondence-address-level2-edit" value="Morley">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="correspondence-address-county-edit">
                        City or town
                      </label>
                      <input class="govuk-input govuk-!-width-two-thirds" id="correspondence-address-county-edit" name="correspondence-addressCounty-edit" type="text" value="Leeds">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="correspondence-address-postcode-edit">
                        Postcode
                      </label>
                      <input class="govuk-input govuk-input--width-10" id="correspondence-address-postcode-edit" name="correspondence-addressPostcode-edit" type="text" autocomplete="correspondence-postal-code-edit" value="LS29 1WE">
                    </div>
                  </fieldset>

                    <input type="submit" class="govuk-button" value="Save and continue" id="submit">

                </form>
                <div>
                  <a href="remove-contact-address.html" role="button" draggable="false" class="govuk-button govuk-button--warning"
                    data-module="govuk-button">
                    Remove address
                  </a>
                </div>

            </div> <!-- govuk-grid-column-one-half -->
        </div> <!-- govuk-grid-row -->


    </main>
</div> <!-- govuk-width-container -->
{% endblock %}