{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="confirmation-page-address.html" method="get">

            <h2 class="govuk-heading-l">Check these details are correct before saving</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
             <!--  <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Update the preferred contact address for AB Cars Ltd
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">Yes</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="correspondence-address.html">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div> -->
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What is the preferred contact address for AB Cars Ltd?
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">{{data['correspondence-addressLine1-edit']}},<br>{{data['correspondence-addressLine2-edit']}},<br>
                    {{data['correspondence-addressTown-edit']}},<br>{{data['correspondence-addressCounty-edit']}},<br>{{data['correspondence-addressPostcode-edit']}}</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="correspondence-address-detail.html">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>
            </dl>
           
            <div class="govuk-form-group">
              <button class="govuk-button" data-module="govuk-button">
                Confirm and save
              </button> 
            </div>
          </form>
          <a href="correspondence-address.html">Cancel</a>
        </div>
      </div>
    </main>
</div>

{% endblock %}