{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="/index-caseworkers-proto.html" class="govuk-back-link">Back to CMS-2012</a>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h1 class="govuk-heading-l">AB Cars Ltd</h1>
                <h2 class="govuk-heading-m">Registered address</h2>
                <p class="govuk-body">
                    Unit 3</br>
                    Greenway Industrial Estate</br>
                    Newtown</br>
                    Oldcity</br>
                    OY32 1JK
                </p>
                <a class="govuk-link" href="https://www.gov.uk/get-information-about-a-company" target="_blank">
                  View details on Companies House (opens in a new tab)<span class="govuk-visually-hidden"> view companies house opens in a new tab</span>
                </a>
            </div> <!-- govuk-grid-column-one-half -->

            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-s govuk-!-text-align-right govuk-!-margin-bottom-0">Employer Reference Number:
                </h2>
                <p class="govuk-body govuk-!-text-align-right govuk-!-margin-top-0">501001687235</p>
                <!-- <h2 class="govuk-heading-s govuk-!-text-align-right  govuk-!-margin-bottom-0">Payroll frequency:</h2>
                <p class="govuk-body govuk-!-text-align-right govuk-!-margin-top-0">501001687235</p>
                <h2 class="govuk-heading-s govuk-!-text-align-right govuk-!-margin-bottom-0">Employer referred to FIU:
                </h2>
                <p class="govuk-body govuk-!-text-align-right govuk-!-margin-top-0">No</p> -->

            </div> <!-- govuk-grid-column-one-half -->
        </div> <!-- govuk-grid-row -->

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-tabs govuk-!-margin-top-8" data-module="govuk-tabs">
                    <h2 class="govuk-tabs__title">
                        Contents
                    </h2>
                    <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                            <a class="govuk-tabs__tab" href="#contact-details">
                                Contact details
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#payroll-information">
                                Payroll information
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#active-deos">
                                Active DEO's
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#closed-deos">
                                Closed DEO's
                            </a>
                        </li>
                    </ul>
                    <div class="govuk-tabs__panel" id="contact-details">
                      
                        <dl class="govuk-summary-list">
                            
                            <!-- <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Registered address
                              </dt>
                              <dd class="govuk-summary-list__value">
                                Unit 3<br>Greenway Industrial Estate<br>Newtwon<br>Oldcity<br>OY32 1JK
                              </dd>
                              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="https://www.gov.uk/get-information-about-a-company" target="_blank">
                                  View details on Companies House (opens in a new tab)<span class="govuk-visually-hidden"> view companies house opens in a new tab</span>
                                </a>
                              </dd>
                            </div> -->
                            <!-- <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Is there a correspondence address?
                              </dt>
                              <dd class="govuk-summary-list__value">
                                <p class="govuk-body">Yes</p>
                              </dd>
                              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="correspondence-address.html">
                                  Change<span class="govuk-visually-hidden"> correspondence address</span>
                                </a>
                              </dd>
                            </div> -->
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Preferred contact address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  The head office<br>321 Up Street<br>Morley<br>Leeds<br>LS29 1WE
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="correspondence-address-detail-change.html">
                                    Change<span class="govuk-visually-hidden"> correspondence address details</span>
                                  </a>
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Payroll Provider address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  <p class="govuk-body">None</p>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="payroll-provider-address.html">
                                    Change<span class="govuk-visually-hidden"> payroll provider address</span>
                                  </a>
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Letters preference
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  <p class="govuk-body">Online</p>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="letters-preference.html">
                                    Change<span class="govuk-visually-hidden"> letters preference</span>
                                  </a>
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Do they need a postal DEO reminder
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  <p class="govuk-body">Yes</p>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="postal-reminder.html">
                                    Change<span class="govuk-visually-hidden"> postal DEO reminder</span>
                                  </a>
                                </dd>
                              </div>
                          </dl>
                    </div>
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="payroll-information">
                    
                        <div class="govuk-summary-card">
                          <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">Monthly payroll</h2>
                          </div>
                          <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Employer payroll date
                                </dt>
                                <dd class="govuk-summary-list__value">
                                 27 of each month
                                </dd>
                                
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Employee pay date
                                </dt>
                                <dd class="govuk-summary-list__value">
                                 Last working day of each month
                                </dd>
                                
                              </div>
                              
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Employer payroll cut off
                                </dt>
                                <dd class="govuk-summary-list__value">
                                 7 days before payroll run
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="payroll-cutoff.html">
                                    Change<span class="govuk-visually-hidden"> payroll cut off</span>
                                  </a>
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  CMG Payment expected
                                </dt>
                                <dd class="govuk-summary-list__value">
                                 5 days after payroll run
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="payment-expected.html">
                                    Change<span class="govuk-visually-hidden"> payment expected</span>
                                  </a>
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  CMG payment frequency
                                </dt>
                                <dd class="govuk-summary-list__value">
                                 Monthly
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> working situation</span>
                                  </a>
                                </dd>
                              </div>
                            </dl>
                          </div>
                        </div>
                        <!-- <div class="govuk-summary-card">
                          <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">Person 2</h2>
                          </div>
                          <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Details known
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  Yes
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> whether details are known</span>
                                  </a>
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Relationship to lead tenant
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  Partner
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> relationship to lead tenant</span>
                                  </a>
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Age
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  42
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> age</span>
                                  </a>
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Working situation
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  Unable to work because of long-term sickness or disability
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> working situation</span>
                                  </a>
                                </dd>
                              </div>
                            </dl>
                          </div>
                        </div>
                        <div class="govuk-summary-card">
                          <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">Person 3</h2>
                          </div>
                          <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Details known
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  Yes
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> whether details are known</span>
                                  </a>
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Relationship to lead tenant
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  Child
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> relationship to lead tenant</span>
                                  </a>
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Age
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  7
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> age</span>
                                  </a>
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Working situation
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  Child under 16
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> working situation</span>
                                  </a>
                                </dd>
                              </div>
                            </dl>
                          </div>
                        </div> -->
                    </div>
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="active-deos">
                        <h2 class="govuk-heading-m">Active DEO's</h2>
                        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                          <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                              <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                  David Francis
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                              <dl class="govuk-summary-list govuk-summary-list--no-border">
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    DEO start date
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    30 May 2023
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Item 2
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                   data
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Item 3
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    data
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Item 4
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <p class="govuk-body">data</p>
                                   </dd>
                                </div>
                              </dl>
                            </div>
                          </div>
                          <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                              <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                                  Muashtaq Khan
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                              <dl class="govuk-summary-list govuk-summary-list--no-border">
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    DEO start date
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    30 May 2023
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Item 2
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                   data
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Item 3
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    data
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Item 4
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <p class="govuk-body">data</p>
                                   </dd>
                                </div>
                              </dl>
                            </div>
                          </div>
                          <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                              <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                  Clive Spence
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                              <dl class="govuk-summary-list govuk-summary-list--no-border">
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    DEO start date
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    30 May 2023
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Item 2
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                   data
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Item 3
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    data
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Item 4
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <p class="govuk-body">data</p>
                                   </dd>
                                </div>
                              </dl>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="closed-deos">
                        <h2 class="govuk-heading-m">Closed DEO's</h2>
                        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                          <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                              <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                  Simon Jakes
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                              <p class="govuk-body">This is the content for Writing well for the web.</p>
                            </div>
                          </div>
                          <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                              <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                                  Sahil Gil
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                              <p class="govuk-body">This is the content for Writing well for specialists.</p>
                            </div>
                          </div>
                          <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                              <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                  Artur Schmitt
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                              <p class="govuk-body">This is the content for Know your audience.</p>
                            </div>
                          </div>
                          <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                              <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                  Greg Matthews
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                              <p class="govuk-body">This is the content for Know your audience.</p>
                            </div>
                          </div>
                          <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                              <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                  Jake Ross
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                              <dl class="govuk-summary-list govuk-summary-list--no-border">
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    DEO start date
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    30 May 2023
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Item 2
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                   data
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Item 3
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    data
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Item 4
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <p class="govuk-body">data</p>
                                   </dd>
                                </div>
                              </dl>
                            </div>
                          </div>
                          <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                              <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                  Oliver M'Dumble
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                              <dl class="govuk-summary-list govuk-summary-list--no-border">
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    DEO start date
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    30 May 2023
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Item 2
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                   data
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Item 3
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    data
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Item 4
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <p class="govuk-body">data</p>
                                   </dd>
                                </div>
                              </dl>
                            </div>
                          </div>
                          <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                              <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                  Marcus Forsythe
                                </span>
                              </h2>
                            </div>
                            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                              <p class="govuk-body">This is the content for Know your audience.</p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

            </div> <!-- govuk-grid-column-full -->
        </div> <!-- govuk-grid-row -->
    </main>
</div> <!-- govuk-width-container -->
{% endblock %}