{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form action="cya-payment-expected.html" method="get">
                    
                  <h1 class="govuk-heading-l">When is the DEO payment expected from the employer?</h1>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="paymentexpected">
                      When is the payment expected?
                    </label>
                    <!-- <div id="subject-hint" class="govuk-hint">
                      This can be different to where you went before
                    </div> -->
                    <select class="govuk-select" id="paymentexpected" name="paymentexpected" aria-describedby="paymentexpected-hint">
                      <option value="choose" selected>Select</option>
                      <option value="One day after the payroll run">One day after the payroll run</option>
                      <option value="Two days after the payroll run">Two days after the payroll run</option>
                      <option value="Three days after the payroll run">Three days after the payroll run</option>
                      <option value="Four days after the payroll run">Four days after the payroll run</option>
                      <option value="Five days after the payroll run">Five days after the payroll run</option>
                      <option value="Six days after the payroll run">Six days after the payroll run</option>
                      <option value="One week after the payroll run">One week after the payroll run</option>
                      <option value="Other~payment-expected-other-details.html">Other</option>
                    </select>
                  </div>

                    <input type="submit" class="govuk-button" value="Save and continue" id="submit">

                </form>

            </div> <!-- govuk-grid-column-one-half -->
        </div> <!-- govuk-grid-row -->


    </main>
</div> <!-- govuk-width-container -->
{% endblock %}