{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form action="cya-payroll-provider-yes.html" method="get">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h1 class="govuk-fieldset__heading">
                        What is the Payroll Provider address for AB Cars Ltd?
                      </h1>
                    </legend>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="payroll-provider-address-line-1-edit">
                        Address line 1
                      </label>
                      <input class="govuk-input" id="payroll-provider-address-edit-line-1-edit" name="payroll-provider-addressLine1-edit" type="text" autocomplete="payroll-provider-address-line1-edit">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="payroll-provider-address-line-2-edit">
                        Address line 2 (optional)
                      </label>
                      <input class="govuk-input" id="payroll-provider-address-line-2-edit" name="payroll-provider-addressLine2-edit" type="text" autocomplete="payroll-provider-address-line2-edit">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="payroll-provider-address-town-edit">
                        Address line 3
                      </label>
                      <input class="govuk-input govuk-!-width-two-thirds" id="payroll-provider-address-town-edit" name="payroll-provider-addressTown-edit" type="text" autocomplete="payroll-provider-address-level2">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="payroll-provider-address-county-edit">
                        City or town
                      </label>
                      <input class="govuk-input govuk-!-width-two-thirds" id="payroll-provider-address-county-edit" name="payroll-provider-addressCounty-edit" type="text">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="payroll-provider-address-postcode-edit">
                        Postcode
                      </label>
                      <input class="govuk-input govuk-input--width-10" id="payroll-provider-address-postcode-edit" name="payroll-provider-addressPostcode-edit" type="text" autocomplete="payroll-provider-postal-code">
                    </div>
                  </fieldset>

                    <input type="submit" class="govuk-button" value="Save and continue" id="submit">

                </form>

                <div>
                  <a href="remove-payroll-provider-address.html" role="button" draggable="false" class="govuk-button govuk-button--warning"
                    data-module="govuk-button">
                    Remove address
                  </a>
                </div>

            </div> <!-- govuk-grid-column-one-half -->
        </div> <!-- govuk-grid-row -->


    </main>
</div> <!-- govuk-width-container -->
{% endblock %}