{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

              <form action="cya-payroll-provider-yes.html" method="get">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                      Update the Payroll Provider address for AB Cars Ltd
                    </h1>
                  </legend>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="payroll-provider-address-line-1">
                      Address line 1
                    </label>
                    <input class="govuk-input" id="payroll-provider-address-line-1" name="payroll-provider-addressLine1" type="text" autocomplete="payroll-provider-address-line1">
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="payroll-provider-address-line-2">
                      Address line 2 (optional)
                    </label>
                    <input class="govuk-input" id="payroll-provider-address-line-2" name="payroll-provider-addressLine2" type="text" autocomplete="payroll-provider-address-line2">
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="payroll-provider-address-town">
                      Address line 3
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="payroll-provider-address-town" name="payroll-provider-addressTown" type="text" autocomplete="payroll-provider-address-level2">
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="payroll-provider-address-county">
                      City or town
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="payroll-provider-address-county" name="payroll-provider-addressCounty" type="text">
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="payroll-provider-address-postcode">
                      Postcode
                    </label>
                    <input class="govuk-input govuk-input--width-10" id="payroll-provider-address-postcode" name="payroll-provider-addressPostcode" type="text" autocomplete="payroll-provider-postal-code">
                  </div>
                </fieldset>

                  <input type="submit" class="govuk-button" value="Save and continue" id="submit">

              </form>

            </div> <!-- govuk-grid-column-one-half -->
        </div> <!-- govuk-grid-row -->


    </main>
</div> <!-- govuk-width-container -->
{% endblock %}