{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form action="cya-postal-reminder.html" method="get">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="postal-reminder">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                              Does the employer need a postal reminder?
                            </h1>
                          </legend>
                          
                          <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="postal-reminder-1" name="postal-reminder" type="radio" value="Yes" aria-describedby="postsal-reminder-item-hint">
                              <label class="govuk-label govuk-radios__label" for="postal-reminder-1">
                                Yes
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="postal-reminder-2" name="postal-reminder" type="radio" value="No" aria-describedby="postal-reminder-item-hint">
                              <label class="govuk-label govuk-radios__label" for="postal-reminder-2">
                                No
                              </label>
                            </div>
                          </div>
                        </fieldset>
                      </div>

                    <input type="submit" class="govuk-button" value="Save and continue" id="submit">

                </form>

            </div> <!-- govuk-grid-column-one-half -->
        </div> <!-- govuk-grid-row -->


    </main>
</div> <!-- govuk-width-container -->
{% endblock %}