{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form action="confirmation-page.html" method="get">
                    <div class="govuk-form-group">
                      <h1 class="govuk-heading-l">
                        Are you sure you want to remove the preferred contact address?
                    
                      </h1>
                      <div id="remove-address-hint" class="govuk-hint">
                        Child Maintenance Service currently send letters to this address as well as the registered address
                      </div>
                      </div>

                    <input type="submit" class="govuk-button" value="Remove address" id="submit">

                </form>

            </div> <!-- govuk-grid-column-one-half -->
        </div> <!-- govuk-grid-row -->


    </main>
</div> <!-- govuk-width-container -->
{% endblock %}