{% extends "layout_cm.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="/form-handler" method="post" novalidate>
          <h1 class="govuk-heading-l">Enter your existing sign in details</h1>
          <div class="govuk-form-group">
            <label class="govuk-label" for="login-ern">Employer Reference Number (ERN)</label>
            <input class="govuk-input" id="login-ern" name="login-ern" type="text" spellcheck="false"
              aria-describedby="email-hint" autocomplete="text">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="login-paye">Pay As You Earn (PAYE) number</label>
            <input class="govuk-input" id="login-paye" name="login-paye" type="text" spellcheck="false"
              aria-describedby="email-hint" autocomplete="text">
          </div>

          <a href="create-password" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
           Continue
          </a>

        </form>

     </div>
    </div>
  </main>
</div>
{% endblock %}