{% extends "layout_cm.html" %}

{% block content %}

{% include "manage-contactsv6/_nav-header.html" %}

<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <form action="cya-user-level.html" method="get">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Which level of user are you?
                </h1>
              </legend>
              
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="v6-user-2-user-level" name="v6-user-2-user-level" type="radio" value="Admin">
                  <label class="govuk-label govuk-radios__label" for="v6-user-2-user-level">
                    Admin
                  </label>
                  <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                    Admin users have access to the Child Maintenance portal and have the ability to edit, add and remove other users.
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="v6-user-2-user-level-2" name="v6-user-2-user-level" type="radio"
                    value="Standard">
                  <label class="govuk-label govuk-radios__label" for="v6-user-2-user-level-2">
                    Standard
                  </label>
                  <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                    Standard users have the access to the Child Maintenance portal and the ability to edit their own details.
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="v6-user-2-user-level-3" name="v6-user-2-user-level" type="radio"
                    value="Contact only">
                  <label class="govuk-label govuk-radios__label" for="v6-user-2-user-level-3">
                    Contact only
                  </label>
                  <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                    Contact only users have no access to the Child Maintenance portal.
                  </div>
                </div>
              </div>

            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </form>
        <a href="view-user-details.html">Cancel</a>
      </div>
    </div>
  </main>
</div>
{% endblock %}