
{% extends "layout.html" %}



{% block content %}

<div class="moj-sub-navigation">

  <div class="moj-sub-navigation__container">

    <div class="moj-sub-navigation__nav">

      <nav class="moj-sub-navigation" aria-label="sub navigation">

        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="../home">Account Home</a>
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/messages/messages.html">Messages<span id="notifications" class="moj-notification-badge">3</span></a> 
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/company-details/company-details.html">Company details</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="/payments/payments.html">Payments</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/employee-details/employee-details.html">Employee details</a>
          </li>
        </ul>

      </nav>

    </div>
  </div>

</div>
<a href="payments" class="govuk-back-link">Back</a>


<form action="/form-handler" method="post" novalidate>


<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
         Who are you making a payment for?
        </h1>
      </legend>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="who-payment-for" name="who-payment-for" type="radio" value="yes~payments/john">
          <label class="govuk-label govuk-radios__label" for="who-payment-for">
            John Doe
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="who-payment-for-2" name="who-payment-for" type="radio" value="yes~payments/sarah">
          <label class="govuk-label govuk-radios__label" for="who-payment-for-2">
            Sarah Pascoe
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="who-payment-for-3" name="who-payment-for" type="radio" value="yes~payments/james">
          <label class="govuk-label govuk-radios__label" for="who-payment-for-3">
            James Thompson
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="who-payment-for-4" name="who-payment-for" type="radio" value="yes~payments/santiago">
          <label class="govuk-label govuk-radios__label" for="who-payment-for-4">
            Santiago Nunez
          </label>
        </div>
      </div>
  
    </fieldset>
  </div>

  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>
  </form>
{% endblock %}