
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<h1 class="govuk-heading-l">
   Employer deductions documentation</h1>

  <p class="govuk-body"><a href="/public/downloads/welcome-pack.pdf">View the welcome pack</a>
</p>

<p class="govuk-body"><a href="/public/downloads/coverletter1.pdf">View the cover letter 1</a>
</p>



<p class="govuk-body"><a href="/public/downloads/FT-2040-revision.pdf">View the deductions from earnings letter</a>
</p>

<p class="govuk-body"><a href="/public/downloads/2040-V2.2-monthly.pdf">Monthly pay 2040</a>
</p>

<p class="govuk-body"><a href="/public/downloads/2040-V2.2-weekly.pdf">Weekly pay 2040</a>
</p>


{% endblock %}