{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


 
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Contacts for AB Cars Ltd</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Name</th>
              <th scope="col" class="govuk-table__header">Email</th>
              <th scope="col" class="govuk-table__header">Contact number</th>
              <th scope="col" class="govuk-table__header">Alternative number</th>
              <th scope="col" class="govuk-table__header">Extension number</th>
              <th scope="col" class="govuk-table__header">What can you contact them about</th>
              <th scope="col" class="govuk-table__header">Admin user</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Zoe Burns</td>
              <td class="govuk-table__cell">zoe.burns@abcars.co.uk</td>
              <td class="govuk-table__cell">01132321234</td>
              <td class="govuk-table__cell">07777777777</td>
              <td class="govuk-table__cell">123345</td>
              <td class="govuk-table__cell">Payments</td>
              <td class="govuk-table__cell">Yes</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Jackie Smith</td>
              <td class="govuk-table__cell">jackie.smith@abcars.co.uk</td>
              <td class="govuk-table__cell">01132321235</td>
              <td class="govuk-table__cell">07777777778</td>
              <td class="govuk-table__cell">54321</td>
              <td class="govuk-table__cell">Employee details</td>
              <td class="govuk-table__cell">No</td>
            </tr>
          </tbody>
        </table>

        <a href="/index-caseworkers-proto.html" role="button" draggable="false"
          class="govuk-button" data-module="govuk-button">Close employer contacts</a>

      </div>
    </div>
  </main>


{% endblock %}