{% extends "layout_cm.html" %}



{% block content %}

{% include "manage-contactsv6/_nav-header.html" %}

<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="confirmation-page.html" method="get">

          <h2 class="govuk-heading-l">Check your answers</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Are you a third party that manages the payroll for this employer?
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ data['v6-user-3-payroll-provider'] }}</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="payroll-provider.html">
                  Change<span class="govuk-visually-hidden"> payroll provider</span>
                </a>
              </dd>
            </div>
          </dl>

          <div class="govuk-form-group">
            <button class="govuk-button" data-module="govuk-button">
              Confirm and send
            </button>
          </div>
        </form>
        <a href="view-user-details.html">Cancel</a>
      </div>
    </div>
  </main>
</div>

{% endblock %}