{% extends "layout.html" %}

{% block content %}

<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="account-done.html" method="get">

          <h2 class="govuk-heading-l">Check the details</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Full name
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{data['v4-user-3-new-admin-user-first-name']}} {{data['v4-user-3-new-admin-user-last-name']}}</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add-admin-users-details.html">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email address
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{data['v4-user-3-new-admin-email']}}</p>       
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add-admin-users-details.html">
                  Change<span class="govuk-visually-hidden"> email</span>
                </a>
              </dd>
            </div>
          </dl>

          <div class="govuk-form-group">
            <button class="govuk-button" data-module="govuk-button">
              Confirm and send
            </button>
          </div>

        </form>
        <a href="/authv4/existing-employer-old-user/name.html">Cancel</a>
      </div>
    </div>
  </main>
</div>

{% endblock %}