
{% extends "layout.html" %}



{% block content %}


<div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  
    <div class="govuk-width-container">
      
        <main class="govuk-main-wrapper " id="main-content" role="main">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              
                
               
                    <h2 class="govuk-heading-l">Contact the Child Maintenance Service Employer Payment Team</h2>

               <h3 class="govuk-heading-m">Call the Employer Payment Team</h3>

                    <ul class="govuk-list">
                        <li class="govuk-!-margin-top-5">Telephone: 0800 232 1961</li>
                      
                        <li class="govuk-!-margin-top-5"><a href="#" class="govuk-link">Relay UK (opens in a new tab)</a> (if you cannot hear or speak on the phone): 18001 then 0800 232 1975 </li>
                        <li class="govuk-!-margin-top-5">British Sign Language (BSL) <a href="#" class="govuk-link">video relay service (opens in a new tab) </a>if you’re on a computer - find out how to<a href=""> use the service on mobile or tablet (opens in a new tab)</a>.</li>
                        <li class="govuk-!-margin-top-5">Monday to Friday, 8am to 4pm</li>
                    </ul>
                    <p class="govuk-body">
                        <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges (opens in a new tab)</a>
                    </p>
                </div>
                </div>
                </section> 
              
            </div>
          </div>
        </main>
      </div>
  </div>  

{% endblock %}
Telephone: 0800 232 1961
Relay UK (opens in a new tab) -if you cannot hear or speak on the phone): 18001 then 0800 232 1975
British Sign Language (BSL) video relay service (opens in a new tab) if you’re on a computer - find out how to use the service on mobile or tablet (opens in a new tab).
Monday to Friday, 8am to 4pm
Find out about call charges (opens in a new tab).

