
{% extends "layout_cm.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation">
            
            <div class="govuk-panel govuk-panel--confirmation">
              <h1 class="govuk-panel__title">
                Account setup complete
              </h1>  
            </div>
    
            <h2 class="govuk-heading-m">What happens next</h2>
    
            <p class="govuk-body">
              We've sent you a confirmation email, including a one-time passcode and a link to the new service. 
              This passcode will be valid for 15 minutes.
            </p>
            <p class="govuk-body">  
              Once you've used this passcode to sign in to the employer account, you
              can set up your own password.
           </p>

          <p class="govuk-body">
            <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
          </p>
        </div>
      </div>
    </main>
  </div>

  {% endblock %}