{% extends "layout_dwp_unbranded.html" %}

{% block content %}

<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="confirmation-page-general.html" method="get">

            <h2 class="govuk-heading-l">Check the details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Department reference or name
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">{{data['siebel-v4-general-name-new-user']}}</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="user-details-general-contact.html">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Department email address
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">{{data['siebel-v4-general-email-new-user']}}</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="user-details-general-contact.html">
                    Change<span class="govuk-visually-hidden"> email</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Department contact telephone number
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">{{data['siebel-v4-general-contact-1-new-user']}}</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="user-details-general-contact.html">
                    Change<span class="govuk-visually-hidden"> contact number</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Department extension number
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">{{data['siebel-v4-contact-2-user-1']}}</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="add-a-contact.html">
                    Change<span class="govuk-visually-hidden"> contact number</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Alternative telephone number
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">{{data['siebel-v4-general-contact-3-new-user']}}</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="user-details-general-contact.html">
                    Change<span class="govuk-visually-hidden"> contact number</span>
                  </a>
                </dd>
              </div>
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Select what they can help with
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">{{data['siebel-v4-general-contact-reason']}}</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="user-details-general-contact.html">
                    Change<span class="govuk-visually-hidden"> contact reason</span>
                  </a>
                </dd>
              </div>
            </dl>
           
            <div class="govuk-form-group">
              <button class="govuk-button" data-module="govuk-button">
                Confirm and save 
              </button> 
            </div>
          </form>
          <a href="/manage-contactssiebel-v4/company-details-home.html">Cancel</a>
        </div>
      </div>
    </main>
</div>

{% endblock %}