
{% extends "layout.html" %}



{% block content %}

<div class="moj-sub-navigation">

  <div class="moj-sub-navigation__container">

    <div class="moj-sub-navigation__nav">

      <nav class="moj-sub-navigation" aria-label="sub navigation">

        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="../home">Account Home</a>
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/messages/messages.html">Messages<span id="notifications" class="moj-notification-badge">3</span></a> 
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="company-details/company-details.html">Company details</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/payments/payments.html">Payments</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/employee-details/employee-details.html">Employee details</a>
          </li>
        </ul>

      </nav>

    </div>
  </div>

</div>
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<div class="govuk-width-container">
      
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
<form action ="company-details2.html" method="get">

<h2 class="govuk-heading-l">How would you like to receive information from us?</h2>
<div class="govuk-inset-text">You won't be completely 'paper-free' because sometimes we might have to contact you by post, but for everything else we'll just send you online messages through this site.</div>
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          How would you prefer to recieve letters?
        </h1>
      </legend>
      <div id="contact-hint" class="govuk-hint">
        Select one option.
      </div>
      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
        
       
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="contact2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
          <label class="govuk-label govuk-radios__label" for="contact2">
           Receive digital copies to my self-service account
          </label>
        </div>
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="contact3" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-3">
          <label class="govuk-label govuk-radios__label" for="contact3">
            Receive letters to both my postal address and my self-service account
          </label>
        </div>
        </div>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              What email address would you like to receieve notifications about your account to?
            </h1>
          </legend>
          <div class="govuk-form-group">
            <label class="govuk-label" for="email">
              Email address
            </label>
            <div id="email-hint" class="govuk-hint">
              We’ll use this to send you notications about your account
            </div>
            <input class="govuk-input" id="email" name="contact-email" value="" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
          </div>

         
            
      
        </fieldset>
      </div>
     
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Do you want to recieve email notifications about your account?
            </h1>
          </legend>
          <div id="contact-hint" class="govuk-hint">
            Select one option.
          </div>
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="notification" name="notification" type="radio" value="email" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="notification">
                Yes
              </label>
            </div>
           
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="notification-2" name="notification" type="radio" value="phone" data-aria-controls="conditional-contact-2">
              <label class="govuk-label govuk-radios__label" for="notification-2">
                No
              </label>
            </div>
           
            </div>
            
      
        </fieldset>
      </div>
  
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
        </form>
        </div>
        </div>
        </main>
{% endblock %}
