{% extends "layout.html" %}



{% block content %}

<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
 
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="are-they-admin.html" method="get">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="contact-reason">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  What can they help with?
                </h1>
              </legend>
              <div id="contact-reason-hint" class="govuk-hint">
                Select all that apply.
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="query-type-additional-1" name="query-type-additional-1" type="checkbox" value="Deductions">
                  <label class="govuk-label govuk-checkboxes__label" for="query-type-additional-1">
                    Deductions
                  </label>
                  <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                    You can discuss deductions that have or should have been taken from employees pay.
                  </div>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="query-type-additional-1-2" name="query-type-additional-1" type="checkbox" value="Payments">
                  <label class="govuk-label govuk-checkboxes__label" for="query-type-additional-1-2">
                    Payments
                  </label>
                  <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                    You can discuss Child Maintenance payments.
                  </div>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="query-type-additional-1-3" name="query-type-additional-1" type="checkbox" value="Employee details">
                  <label class="govuk-label govuk-checkboxes__label" for="query-type-additional-1-3">
                    Employee details
                  </label>
                  <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                    You can discuss employee details.
                  </div>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="query-type-additional-1-4" name="query-type-additional-1" type="checkbox" value="No contact">
                  <label class="govuk-label govuk-checkboxes__label" for="query-type-additional-1-4">
                    General enquiries
                  </label>
                  <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                    You can take general enquiries but are not able to discuss deductions, payments or employee details
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </form>
          <br><a href="add-users.html">Cancel</a>
        </div>
      </div>
    </main>

</div>

{% endblock %}