
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">The information you've entered has been saved</h1>

       
        <p class="govuk-body">We cannot display any of the information you've entered, but it has been saved. </p>

        <p class="govuk-body">If you need to change any of your information, contact us by:
 
          <ul class="govuk-list govuk-list--bullet">
            <li>phone: 0800 2321961</li> 
              <li>textphone: 18001 0800 17123451</li>
          </ul>
              <p>Office hours are 8am to 5pm, Monday to Friday.</p>

              <p class="govuk-body"> Or use the continue button to carry on signing in to the Child Maintenance Employer Service.</p>

       
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
    



        
     


      </div>
    </div>
  </main>
</div>
    {% endblock %}