{% extends "layout_dwp_unbranded.html" %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-full">

        <form>

          <h1 class="govuk-heading-l">Add contact details for AB Cars Ltd</h1>
          <span class="govuk-caption-l">501002271004</span>
          <div class="govuk-!-padding-bottom-4"></div>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Contact name
              </dt>
              <dd class="govuk-summary-list__value">
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Add<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Their role 
              </dt>
              <dd class="govuk-summary-list__value">
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Add<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Their phone and email details
              </dt>
              <dt class="govuk-summary-list__key">
              </dt>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Add<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Their department 
                <div id="event-name-hint" class="govuk-hint">
                  If company name if they work for a 3rd party payroll company</div>
              </dt>
              <dd class="govuk-summary-list__value">
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Add<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Additional information <div id="event-name-hint" class="govuk-hint">
                 For example, non-working days</div>
              </dt>
              <dd class="govuk-summary-list__value">
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Add<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>
          </dl>
          <p class="govuk-body-l">
            <p class="govuk-body govuk-!-text-align-right">
              <a href="#">Add new contact</a>
              </p>

              <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
             Create new record
                </button>
                <a href="company-home.html">create new record</a>
                 </div>
        </form>
        <p class="govuk-body-l"><a href="index.html">Back to sandbox</p>

      </div>
    </div>
  </main>
</div>

{% endblock %}