{% extends "layout_dwp_unbranded.html" %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-full">

        <form>

          <h1 class="govuk-heading-l">AB Cars Ltd</h1>
          <span class="govuk-caption-l">501002271004</span>
          <div class="govuk-!-padding-bottom-4"></div>

          <h2 class="govuk-heading-m">Company details</h2>
          

          <dl class="govuk-summary-list">
         
          
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Registered address <div id="event-name-hint" class="govuk-hint">
                  Get these details from <a href="#">Companies House</a>
                </div>
              </dt>
              <dd class="govuk-summary-list__value">
                The Head Office </br>
                123 Down Road </br>
                Armley </br>
                Leeds </br>
                LS12 1QQ
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> postal address</span>
                </a>
              </dd>
            </div>
          </dl>
    
          <dl class="govuk-summary-list">
         
          
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Correspondence address
                <div id="event-name-hint" class="govuk-hint">
                  If different from registered address
                </div>
              </dt>
              
             
              <dd class="govuk-summary-list__value">
                Bluewater House </br>
                Building 6 </br>
                Rippon Road </br>
                York </br>
                YS5 8HQ
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> postal address</span>
                </a>
              </dd>
            </div>
          </dl>
          <dl class="govuk-summary-list">
         
          
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Correspondence method
                <div id="event-name-hint" class="govuk-hint">
                  For official letters and forms
                </div>
              </dt>
              
             
              <dd class="govuk-summary-list__value">
               Post and electronic
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> postal address</span>
                </a>
              </dd>
            </div>
          </dl>
          <div class="govuk-!-padding-bottom-9"></div>
         

          <h2 class="govuk-heading-m">Contacts</h2>
          <div id="event-name-hint" class="govuk-hint">
            Get these details from <a href="#">???</a>
          </div>

          <dl class="govuk-summary-list">
         

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Contact name
              </dt>
              <dd class="govuk-summary-list__value">
                Joe Blogs
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Their role or department
              </dt>
              <dd class="govuk-summary-list__value">
                Payroll officer
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> email address</span>
                </a>

              </dd>
            
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Their phone and email details
              </dt>
              <dt class="govuk-summary-list__key">
                 
              </dt>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Add<span class="govuk-visually-hidden"> email address</span>
                </a>

              </dd>
             
            </div>
           
        
          </dl>
          <p class="govuk-body-l">
            <a href="#">Add new contact</a>
          </p>



       
          <div class="govuk-!-padding-bottom-4"></div>
         
          

          
          


        </form>


      </div>
    </div>
  </main>
</div>

{% endblock %}