{% extends "layout.html" %}

{% block pageTitle %}
Manage Employer Deductions
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back to Reference Files</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Manage Employer Deductions (MED)
      </h1>
      <h2 class="govuk-heading-m">Archived Reference Files</h2>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-s">Reference files to support Jira stories for Registation v1</h2>
      <p>Registration journey (C32).</p>
      <p>Agent edits and deletes a 'Department' contact on an employer account</p>
      <p class="govuk-body"><a href="reference_files/agent_admin_c32/index-registration-c32.html"
          class="govuk-link">View files</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-s">Reference files to support Jira stories for Registation v1</h2>
      <p>Registration journey (C31).</p>
      <p>Agent edits and deletes an 'Individual' contact on an employer account</p>
      <p class="govuk-body"><a href="reference_files/agent_admin_c31/index-registration-c31.html"
          class="govuk-link">View files</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-s">Reference files to support Jira stories for Registation v1</h2>
      <p>Registration journey (C22).</p>
      <p>Agent adds an 'Individual' contact to an employer account migrated from Siebel</p>
      <p class="govuk-body"><a href="reference_files/agent_admin_c22/index-registration-c22.html"
          class="govuk-link">View files</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-s">Reference files to support Jira stories for Registation v1</h2>
      <p>Registration journey (C21).</p>
      <p>Agent adds a 'Department' contact to an employer account migrated from Siebel</p>
      <p class="govuk-body"><a href="reference_files/agent_admin_c21/index-registration-c21.html"
          class="govuk-link">View files</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-s">Reference files to support Jira stories for Registation v1</h2>
      <p>Registration journey (C12).</p>
      <p>Agent adds a new 'Department' contact to an employer account</p>
      <p class="govuk-body"><a href="reference_files/agent_admin_c12/index-registration-c12.html"
          class="govuk-link">View files</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-s">Reference files to support Jira stories for Registation v1</h2>
      <p>Registration journey (C11).</p>
      <p>Agent adds a new 'Individual' contact to an employer account</p>
      <p class="govuk-body"><a href="reference_files/agent_admin_c11/index-registration-c11.html"
          class="govuk-link">View files</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    </div>
  </div>
</div>
{% endblock %}