{% extends "layout.html" %}

{% block pageTitle %}
Manage Employer Deductions
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back to Authenticate prototypes</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Manage Employer Deductions (MED) Prototype
      </h1>
      <h2 class="govuk-heading-m">Archived Portal protoypes</h2>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Ordinary user views and edits their own details</h2>
      <h2 class="govuk-heading-m">Employer contacts on the Portal - v6 January 2024</h2>
      <p class="govuk-body"> Ordinary user views and edits their own details on the Employer Portal</p>
      <p class="govuk-body"> User Research - updates to this journey tested March 2024</p>
      <a href="manage-contactsv6/ordinary-user-access/portal-home.html" class="govuk-button govuk-button">View
        prototype</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Employer contacts on the Portal - v6 January 2024</h2>
      <h2 class="govuk-heading-m">Admin user edits and deletes contact from the Employer Portal</h2>

      <a href="manage-contactsv6/admin-manage-contacts/portal-home.html" class="govuk-button govuk-button">View
        prototype</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Admin user creates an general contact</h2>
      <h2 class="govuk-heading-m">Employer contacts on the Portal - v6 January 2024</h2>
      <p class="govuk-body"> Create a general contact in the Company account</p>
      <p class="govuk-body"> User Research - updates to this journey tested March 2024</p>
      <a href="manage-contactsv6/create-general-contact/portal-home.html" class="govuk-button govuk-button">View
        prototype</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Admin user creates an individual contact with exisitng email held</h2>
      <h2 class="govuk-heading-m">Employer contacts on the Portal - v6 January 2024</h2>
      <p class="govuk-body"> Create a contact in the Company account - email is held in TCMO</p>
      <p class="govuk-body"> User Research - updates to this journey tested March 2024</p>
      <a href="manage-contactsv6/create-contact-email-held/portal-home.html" class="govuk-button govuk-button">View
        prototype</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Admin user creates an individual contact with no exisitng email held</h2>
      <h2 class="govuk-heading-m">Employer contacts on the Portal - v6 January 2024</h2>
      <p class="govuk-body"> Create a contact in the Company account - no email held in TCMO</p>
      <p class="govuk-body"> User Research - updates to this journey tested March 2024</p>
      <a href="manage-contactsv6/create-contact-no-email-held/portal-home.html" class="govuk-button govuk-button">View
        prototype</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Employer contacts on the Portal - v6 May 2023</h2>
      <p class="govuk-body"> List of updates to follow</p>
      <p class="govuk-body">Iterations to company home page and user details and preferences inputs</p>
      <p class="govuk-body">Portal user details removed and portal user question removed</p>
      <p class="govuk-body">Content updates added from content review Jan 2023</p>
      <a href="manage-contactsv6/portal-home.html" class="govuk-button govuk-button">View
        prototype</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Editing employer contacts on the company details page from Feb 2023</h2>
      <h3 class="govuk-heading-s"> View add, change and delete contacts prototype - v5</h3>
      <p class="govuk-body">Iterations to to follow Jan 2023</p>
      <a href="manage-contactsv5/log-in.html" class="govuk-button govuk-button">View
        prototype</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Editing employer contacts on the company details page from November 2022</h2>
      <h3 class="govuk-heading-s"> View add, change and delete contacts prototype - v4</h3>
      <p class="govuk-body">Iterations to company home page and user details and preferences inputs</p>
      <p class="govuk-body">Portal user details removed and portal user question removed</p>
      <p class="govuk-body">Content updates added from content review Jan 2023</p>
      <a href="manage-contactsv4-alt/test-manage-contacts-alt.html" class="govuk-button govuk-button">View
        prototype</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Editing employer contacts on the company details page</h2>
      <h3 class="govuk-heading-s"> View add, change and delete contacts prototype - v3</h3>
      <a href="manage-contactsv4/test-manage-contacts.html" class="govuk-button govuk-button">View prototype</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Editing employer contacts on the company details page</h2>
      <h3 class="govuk-heading-s"> View add, change and delete contacts prototype - v2</h3>
      <a href="manage-contactsv3/test-manage-contacts.html" class="govuk-button govuk-button">View prototype</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Editing employer contacts on the company details page from March 2022</h2>
      <h3 class="govuk-heading-s">View add, change and delete contacts prototype - v1</h3>
      <a href="contacts/company-details.html" class="govuk-button govuk-button">View prototype</a>
      <p class='govuk-body'><a
          href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1646916717017/b39387c62cabe65b9664af18d0457c4ef578b385?sender=uc37adde8eaa74f57b8f25011">View
          add, change and delete contacts journeys (Mural)</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Company details page from February 2022</h2>
      <h3 class="govuk-heading-s">Updated company details page design - v1.2</h3>
      <p class="govuk-body">Iteration of company details 'Home' page</p>
      <a href="contacts/company-details.html" class="govuk-button govuk-button">View prototype</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Company details page from November 2021</h2>
      <h3 class="govuk-heading-s">Company details usability testing prototype - v1.1</h3>
      <p class="govuk-bosy">Iteration of company details 'Home' page</p>
      <a href="v2company-details/company-details.html" class="govuk-button govuk-button">View prototype</a>
      <p class="govuk-body"><a
          href="https://dwpdigital.atlassian.net/wiki/spaces/SEDG/pages/132472963250/Company+Details">Company
          details confluence write up</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Company details page from October 2021</h2>
      <h3 class="govuk-heading-s">Company details usability testing prototype - v1.0</h3>
      <p class="govuk-bosy">First iteration of company details 'Home' page</p>
      <a href="company-details/company-details.html" class="govuk-button govuk-button">View prototype</a>
      <p class="govuk-body"><a
          href="https://dwpdigital.atlassian.net/wiki/spaces/SEDG/pages/132472963250/Company+Details">Company
          details confluence write up</a></p>

    </div>
  </div>
</div>
{% endblock %}