{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
Employer deductions service
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="proto-choice.html" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Employer deductions service (EDS) Prototypes
      </h1>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#employer-contacts">
              Employer contacts & information
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#missing-payments">
              Missing payments
            </a>
          </li>

          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#unassigned-receipts">
              Unassigned receipts
            </a>
          </li>
          <!-- <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#s">
              Spare
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#">
              Spare
            </a>
          </li> -->
        </ul>
        <div class="govuk-tabs__panel" id="employer-contacts">
          <h2 class="govuk-heading-l">Siebel UX screens - Employer contacts and information</h2>
          <p class="govuk-body">
            These prototypes are experimental screens for an authentication journey for the new Employer Deductions
            Service.
          </p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2 class="govuk-heading-m">Siebel screens for Employer contacts - I-frame - November 2023</h2>
          <h3 class="govuk-heading-s">New designs for caseworkers supporting employer information - v1</h3>
          <!-- <p class="govuk-body">Employer account with no contacts, adding a new contact.</p> -->
          <a href="caseworkers-v1/siebel-screens/employer-contacts-iframe/employer-contacts-iframe.html" class="govuk-button govuk-button">View
            prototype</a>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2 class="govuk-heading-m">Siebel screens for Employer information - October 2023</h2>
          <h3 class="govuk-heading-s">New designs for caseworkers supporting employer information - v1</h3>
          <!-- <p class="govuk-body">Employer account with no contacts, adding a new contact.</p> -->
          <a href="caseworkers-v1/employer_information/employer-information.html" class="govuk-button govuk-button">View
            prototype</a>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2 class="govuk-heading-m">Siebel screens for Employer contacts - August 2023</h2>
          <h3 class="govuk-heading-s">New designs for caseworkers supporting employer account contacts - v1</h3>
          <p class="govuk-body">Employer account with no contacts, adding a new contact.</p>
          <a href="caseworkers-v1/siebel-screens/add-a-contact/employer-search.html"
            class="govuk-button govuk-button">View
            prototype</a>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

          <h2 class="govuk-heading-m">Siebel screens for Employer contacts - August 2023 </h2>
          <h3 class="govuk-heading-s">New designs for caseworkers supporting employer account contacts - v1</h3>
          <p class="govuk-body">Changing the employer deatils/preferences</p>
          <a href="caseworkers-v1/siebel-screens/change-company-details/employer-search.html"
            class="govuk-button govuk-button">View
            prototype</a>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

          <h2 class="govuk-heading-m">Siebel screens for Employer contacts - August 2023</h2>
          <h3 class="govuk-heading-s">New designs for caseworkers supporting employer account contacts - v1</h3>
          <p class="govuk-body">Changing the status for the employer contact</p>
          <a href="caseworkers-v1/siebel-screens/account-status/employer-search.html"
            class="govuk-button govuk-button">View
            prototype</a>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        </div> <!-- govuk-tabs__panel govuk-tabs__panel--hidden -->

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="missing-payments">
          <h2 class="govuk-heading-l">Siebel UX screens - Missing payments</h2>
          <p class="govuk-body">
            These prototypes are experimental screens for an authentication journey for the new Employer Deductions
            Service.
          </p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2 class="govuk-heading-m">Siebel UX screens for Missing payments - October 2023</h2>
          <h3 class="govuk-heading-s">Designs for caseworkers working on missing payments - v2</h3>
          <p class="govuk-body"> Updated screens following content review</p>
          <!-- <p class="govuk-body">Iterations to company home page and user details and preferences inputs</p>
          <p class="govuk-body">Portal user details removed and portal user question removed</p>
          <p class="govuk-body">Content updates added from content review Jan 2023</p> -->
          <a href="caseworkers_v2/missed-payments/view-tasks.html" class="govuk-button govuk-button">View
            prototype</a>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2 class="govuk-heading-m">Siebel UX screens for Missing payments - August 2023</h2>
          <h3 class="govuk-heading-s">New designs for caseworkers working on missing payments - v1</h3>
          <p class="govuk-body"> Screen designs for Casweorkers to investigate and allocate Missing Payments</p>
          <!-- <p class="govuk-body">Iterations to company home page and user details and preferences inputs</p>
          <p class="govuk-body">Portal user details removed and portal user question removed</p>
          <p class="govuk-body">Content updates added from content review Jan 2023</p> -->
          <a href="caseworkers-v1/missed-payments/view-tasks.html" class="govuk-button govuk-button">View
            prototype</a>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        </div> <!-- govuk-tabs__panel govuk-tabs__panel--hidden -->

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="unassigned-receipts">
          <h2 class="govuk-heading-l">Siebel UX screens - Unasssigned receipts</h2>

          <p class="govuk-body">
            These prototypes are experimental screens for an authentication journey for the new Employer Deductions
            Service.
          </p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2 class="govuk-heading-m">Siebel UX screens for Unassigned receipts - August 2023</h2>
          <h3 class="govuk-heading-s">New designs for caseworkers working on unassigned receipts - v1</h3>
          <p class="govuk-body"> Screen designs for Caseworkerss to investiagte and allocate incoming Unassigned
            Receipts</p>
          <!-- <p class="govuk-body">Iterations to company home page and user details and preferences inputs</p>
            <p class="govuk-body">Portal user details removed and portal user question removed</p>
            <p class="govuk-body">Content updates added from content review Jan 2023</p> -->
          <a href="caseworkers-v1/unassigned-receipts/view-tasks.html" class="govuk-button govuk-button">View
            prototype</a>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <!-- <h2 class="govuk-heading-m"><a href="index-portal-archived">View archived Employer Portal prototypes</a></h2> -->

        </div> <!-- govuk-tabs__panel govuk-tabs__panel--hidden -->
      </div>
    </div>

    {% endblock %}