{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
Manage Employer Deductions
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="index.html" class="govuk-back-link">Back to main Home page</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Manage Employer Deductions (MED) reference files for Jira stories
      </h1>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-s">Reference files to support Jira stories for Authenticate v1</h2> 

      <p>Registration journey (A4).</p>
      <p>Standard sign in once a contact has registered, using email and password.</p>
      <p class="govuk-body"><a href="reference_files/registration_a4/index-registration-a4.html" class="govuk-link">View files</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-s">Reference files to support Jira stories for Authenticate v1</h2> 

      <p>Registration journey (A3).</p>
      <p>Passsword reset journey.</p>
      <p class="govuk-body"><a href="reference_files/registration_a3/index-registration-a3.html" class="govuk-link">View files</a></p>
      
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-s">Reference files to support Jira stories for Authenticate v1</h2> 

      <p>Registration journey (A231).</p>
      <p>Second person tries to register and is told to contact the Admin user for the account.</p>
      <p class="govuk-body"><a href="reference_files/registration_a231/index-registration-a231.html" class="govuk-link">View files</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-s">Reference files to support Jira stories for Authenticate v1</h2> 

      <p>Registration journey (A22).</p>
      <p>First person registers and the email is held in TCMO.</p>
      <p class="govuk-body"><a href="reference_files/registration_a22/index-registration-a22.html" class="govuk-link">View files</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-s">Reference files to support Jira stories for Authenticate v1</h2> 

      <p>Registration journey (A211).</p>
      <p>First person registers and the email is not held in TCMO.</p>
      <p class="govuk-body"><a href="reference_files/registration_a211/index-registration-a211.html" class="govuk-link">View files</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-s">Reference files to support Jira stories for Authenticate v0</h2> 

      <p>Tactical Registration journey.</p>
      <p class="govuk-body"><a href="reference_files/registration_2/index-registration-v1.html" class="govuk-link">View files</a></p>

      

     <!--  <p>New account set up by CMG Caseworker - first time sign in by the employer.</p>
      <p class="govuk-body"><a href="reference_files/v1-auth/index-auth-1-v1.html" class="govuk-link">View files</a></p>
      
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <p>Exisitng employer sign in with no migrated contacts</details></p>
      <p class="govuk-body"><a href="reference_files/v1-auth/index-auth-2-v1.html" class="govuk-link">View files</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <p>Exisitng employer sign in, second person from an organisation attempting to sign in</p>
      <p class="govuk-body"><a href="reference_files/v1-auth/index-auth-4-v1.html" class="govuk-link">View files</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <p>Account locked out - passcode</p>
      <p class="govuk-body"><a href="reference_files/v1-auth/index-auth-6-v1.html" class="govuk-link">View files</a></p>
      
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <p>Account temporarily locked out - password</p>
      <p class="govuk-body"><a href="reference_files/v1-auth/index-auth-7-v1.html" class="govuk-link">View files</a></p>
      
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <p>Account permanently locked out - password</p>
      <p class="govuk-body"><a href="reference_files/v1-auth/index-auth-8-v1.html" class="govuk-link">View files</a></p>
      
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <p>Password reset screens</p>
      <p class="govuk-body"><a href="reference_files/v1-auth/index-auth-3-v1.html" class="govuk-link">View files</a></p>
      
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <p>Signing into the Employer Portal, using new and exisitng methods through the transition to Authenticate</p>
      <p class="govuk-body"><a href="reference_files/v1-auth/index-auth-5-v1.html" class="govuk-link">View files</a> --></p>
      
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    </div>
  </div>

</div>

{% endblock %}