{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
Manage Employer Deductions
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <h1 class="govuk-heading-l">
        Manage Employer Deductions (MED) Prototype
    </h1>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <div class="govuk-grid-column-one-half">
        <div class="govuk-heading-l">Prototypes for research purposes</div>
        <p class="govuk-body">Click the button to view prototypes for the Manage Employer Deductions Service
        </p>
        <a href="proto-choice.html" class="govuk-button govuk-button">View prototypes</a>
    </div>

    <div class="govuk-grid-column-one-half">
        <div class="govuk-heading-l">Reference files for Jira stories</div>
        <p class="govuk-body">Click the button to view reference files for the Manage Employer Deductions Service</p>
        <a href="index-ref.html" class="govuk-button govuk-button">View reference files</a>
    </div>

    <div class="govuk-grid-column-one-half">
        <div class="govuk-heading-l">Collette's sandbox</div>
        <p class="govuk-body">Messing around with Caseworker screens for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="company-detail-b.html">New employer - address and contacts, single page</a>
          </p></li>
          <li>
            <a href="company-details-address.html">New employer - address and contacts, separate pages</a>
          </p></li>
          <li>
            <a href="pp-salary-details-a.html">Recording 'promise to pay' - version A</a>
          </p></li>

        </ul>
    </div>
</div>

{% endblock %}