{% extends "layout.html" %}

{% block pageTitle %}
Manage Employer Deductions
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back to Caseworkers prototypes</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Manage Employer Deductions (MED) Prototype
      </h1>
      <h2 class="govuk-heading-m">Archived Caseworkers protoypes</h2>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Siebel screens for Employer contacts - December 2023</h2>
      <h3 class="govuk-heading-s">New designs for caseworkers supporting employer account contacts - v1</h3>
      <p class="govuk-body">Employer account with no contacts, adding a new contact and chagning details for the
        contact.</p>
      <p class="govuk-body">January 2024 update - removing change links from the Employer Contacts home page as the data
        cannot be updated for this version</p>
      <a href="caseworkers-v1/siebel-screens/add-a-contact/employer-details-none.html"
        class="govuk-button govuk-button">View
        prototype</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Siebel screens for Employer contacts - December 2023</h2>
      <h3 class="govuk-heading-s">New designs for caseworkers supporting employer account contacts - v1</h3>
      <p class="govuk-body">Employer account with existing contacts migrated from Siebel reviewing and adding the
        contacts.</p>
      <p class="govuk-body">January 2024 update - removing change links from the Employer Contacts home page as the
        data cannot be updated for this version</p>
      <a href="caseworkers-v1/siebel-screens/existing-contact/employer-details-none.html"
        class="govuk-button govuk-button">View
        prototype</a>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    </div>
  </div>
</div>
{% endblock %}