{% extends "layout_dwp_unbranded.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="index.html" class="govuk-back-link">Back to main Home page</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Employer Deductions Service (EDS) reference files for Jira stories
      </h1>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-s">Reference files to support Jira stories for Authenticate v1</h2> 

      <p>Tactical Registration journey.</p>
      <p class="govuk-body"><a href="reference_files/registration_2/index-registration-v1.html" class="govuk-link">View files</a></p>

     <!--  <p>New account set up by CMG Caseworker - first time sign in by the employer.</p>
      <p class="govuk-body"><a href="reference_files/v1-auth/index-auth-1-v1.html" class="govuk-link">View files</a></p>
      
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <p>Exisitng employer sign in with no migrated contacts</details></p>
      <p class="govuk-body"><a href="reference_files/v1-auth/index-auth-2-v1.html" class="govuk-link">View files</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <p>Exisitng employer sign in, second person from an organisation attempting to sign in</p>
      <p class="govuk-body"><a href="reference_files/v1-auth/index-auth-4-v1.html" class="govuk-link">View files</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <p>Account locked out - passcode</p>
      <p class="govuk-body"><a href="reference_files/v1-auth/index-auth-6-v1.html" class="govuk-link">View files</a></p>
      
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <p>Account temporarily locked out - password</p>
      <p class="govuk-body"><a href="reference_files/v1-auth/index-auth-7-v1.html" class="govuk-link">View files</a></p>
      
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <p>Account permanently locked out - password</p>
      <p class="govuk-body"><a href="reference_files/v1-auth/index-auth-8-v1.html" class="govuk-link">View files</a></p>
      
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <p>Password reset screens</p>
      <p class="govuk-body"><a href="reference_files/v1-auth/index-auth-3-v1.html" class="govuk-link">View files</a></p>
      
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <p>Signing into the Employer Portal, using new and exisitng methods through the transition to Authenticate</p>
      <p class="govuk-body"><a href="reference_files/v1-auth/index-auth-5-v1.html" class="govuk-link">View files</a> --></p>
      
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    </div>
  </div>

</div>

{% endblock %}