{% extends "layout_dwp_unbranded.html" %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-full">

        <form>

          <h1 class="govuk-heading-l">Salary details for David Francis</h1>
          <div class="govuk-!-padding-bottom-4"></div>
          <p class="govuk-body-l">This information is taken from HMRC
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Employer name
              </dt>
              <dd class="govuk-summary-list__value">
                AB Cars Ltd</br>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Payment frequency
              </dt>
              <dd class="govuk-summary-list__value">Monthly
              </dd>
              
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of payroll run
              </dt>
              <dd class="govuk-summary-list__value">Last Monday of the month
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date employee paid
              </dt>
              <dd class="govuk-summary-list__value">Last Thursday of the month
              </dd>
            </div>
        
          </dl>
        </form>
     
          
              <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
             Add promise to pay
                </button>
                <a href="promise-a.html">Add promise to pay</a>
                 </div>
                 <details class="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Help with 'promise to pay'
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    The 'promise to pay' is the date the company has committed to sending their employee's deducted wages to DWP
                  </div>
                </details>
     
        <p class="govuk-body-l"><a href="index.html">Back to sandbox</p>

      </div>
    </div>
  </main>
</div>

{% endblock %}