

<li class="moj-sub-navigation__item" style="float: right ;">
  <a class="moj-sub-navigation__link" href="portal-home.html">Sign out</a>
</li>

/// place code after %block content% line

/// screens for Sign Out links: ID	Screen Name
17	[ENTER YOUR CONTACT DETAILS] A211
18	[ARE YOU A THIRD PARTY THAT MANAGES THE PAYROLL FOR THIS EMPLOYER] A211 
19	[WHAT CAN WE CONTACT YOU ABOUT] A211 A22
20	[CONFIRM YOUR DETAILS] A211 
21	[CONFIRM YOUR DETAILS] A22
22	[CHANGE YOUR DETAILS] A22
23	[ARE YOU A THIRD PARTY THAT MANAGES THE PAYROLL FOR THIS EMPLOYER?] A22
24	[SELECT WHAT YOU CAN HELP WITH] A22
25	[ACCOUNT REGISTRATION COMPLETE] A211 A22
26	[SELECT AN EMPLOYER] A22 A3 A4
58	[PASSWORD RESET COMPLETED]
70	[CONFIRM YOUR DETAILS]


<dd class="govuk-summary-list__actions" style="position:absolute; right:40px; top:2px;">

    <ul class="govuk-summary-list__actions-list">
      <li class="govuk-summary-list__actions-list-item">
        English
      </li>

      <li class="govuk-summary-list__actions-list-item">
        <a class="govukly-hidden"> Cymraeg</span>
        </a>
      </li>
    </ul>

  </dd>