{% extends "layout_cm.html" %}

{% block content %}

<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="/form-handler">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="v7-user-1-payroll-provider-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Is this account for an individual or a general contact?
                </h1>
              </legend>

              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="v7-general-contact" name="v7-general-contact" type="radio"
                    value="Yes~manage-contactsv7/create-contact-email-held/new_user_1/add-a-contact.html">
                  <label class="govuk-label govuk-radios__label" for="v7-general-contact">
                    Individual person
                  </label>
                  <div id="v7-general-contact-hint" class="govuk-hint govuk-radios__hint">
                    This means it's a person with their own contact number and email.
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="v7-general-contact-2" name="v7-general-contact" type="radio"
                    value="No~manage-contactsv7/create-contact-email-held/new_user_1/user-details-general-contact.html">
                  <label class="govuk-label govuk-radios__label" for="v7-general-contact-2">
                    General contact
                  </label>
                  <div id="v7-general-contact-hint" class="govuk-hint govuk-radios__hint">
                    This means it's an account with a shared telephone number or email inbox.
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
          </div>

        </form>
        <!-- <a href="/authv7/existing-employer-old-user/change-details-user-1.html">Cancel</a> -->
      </div>
    </div>
  </main>
</div>

{% endblock %}