{% extends "layout_cm.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a> -->
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <form action="account-done.html" method="get" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              
              <h1 class="govuk-heading-l">
                Each employer must have at least one administrator
              </h1>

              </h2>a
              <p class="govuk-body">As the first person to sign into this account, we've made you an administrator.  </p>
              <p class="govuk-body">

              </p>
               <h3 class="govuk-heading-m">
               What can an administrator do?
              </h3>
              <p class="govuk-body">As an administrator you're able to:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>add other users to the employer account</li>
                <li>give other users administrator access
                <li>remove any users you do not need</li>
                </li>
              </ul> 
              
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          
        </form>
        <!-- <a href="check-details.html">Cancel</a> -->
      </div>
    </div>
  </main>
</div>
{% endblock %}